In [2]:
import pandas as pd
import numpy as np
import os
import pyarrow.parquet as pq
from sklearn.metrics.pairwise import cosine_distances, manhattan_distances

from ipynb.fs.full.example_data_gen import random_data_gen
from functions import get_absolute_matrix, get_relative_matrix

In [3]:
REAL_DATASET = False
SUBSET = True

### Define functions

In [4]:
if REAL_DATASET:

    checkpoint_path = "df_checkpoint.parquet"

    # load data from checkpoint or save
    if os.path.exists(checkpoint_path):
        print("Loading df from checkpoint...")
        df = pd.read_parquet(checkpoint_path)
        df = df.drop(columns=['original_post_id', 'author_name', 'author_username'])
        df = df.rename(columns={'tweet_created_at':'timestamp', 'author_id':'id1', 'retweeter_id':'id2'})

        if SUBSET:
            df = df.tail(10000)
            print('Working with subset of real data')

        else:
            print('Working with full real data')

else:
    print('Working with randomly generated data')
    # generate random data
    df = random_data_gen()
    df = df.rename(columns={'L1_id':'id1', 'L2_id':'id2'})

Working with randomly generated data

In [5]:
df.head()

    id1    id2                  timestamp
0  L1_0   L2_4 2020-01-01 14:26:04.411584
1  L1_2  L2_13 2020-01-04 05:46:58.040960
2  L1_2   L2_4 2020-01-12 01:44:24.654522
3  L1_2  L2_17 2020-01-12 14:31:49.907284
4  L1_2   L2_4 2020-01-17 08:42:30.877029

In [6]:
get_relative_matrix(df)

,id1,L1_0,L1_1,L1_2
id1,timeframe,,,
L1_0,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.000000,0.171781,0.242395
L1_1,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.171781,0.000000,0.361376
L1_2,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.242395,0.361376,0.000000
L1_0,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.000000,0.169310,0.244901
L1_1,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.169310,0.000000,0.191353
L1_2,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.244901,0.191353,0.000000
L1_0,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.000000,0.271628,0.330400
L1_1,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.271628,0.000000,0.175634
L1_2,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.330400,0.175634,0.000000
L1_0,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.000000,0.146262,0.196305
L1_1,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.146262,0.000000,0.216044
L1_2,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.196305,0.216044,0.000000
L1_0,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.000000,0.219710,0.103996
L1_1,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.219710,0.000000,0.278460
L1_2,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.103996,0.278460,0.000000

In [7]:
get_absolute_matrix(df, timeframe='Y', distance_function=manhattan_distances)

id1                                                                                                     L1_0  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                                0.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               33.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               31.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               34.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               36.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               33.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               27.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               31.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               42.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               42.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               34.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               40.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               39.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               36.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               37.0

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               33.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                                0.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               44.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               37.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               47.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               32.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               36.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               40.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               37.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               27.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               43.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               49.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               42.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               45.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               46.0

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               31.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               44.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                                0.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               43.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               37.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               34.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               32.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               38.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               37.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               43.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               45.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               41.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               46.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               39.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               36.0

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               34.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               37.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               43.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                                0.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               32.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               37.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               29.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               31.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               36.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               34.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               34.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               44.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               37.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               40.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               25.0

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               36.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               47.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               37.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               32.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                                0.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               43.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               37.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               39.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               42.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               44.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               44.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               40.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               45.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               42.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               33.0

id1                                                                                                     L1_1  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               33.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               32.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               34.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               37.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               43.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                                0.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               42.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               32.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               41.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               41.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               47.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               47.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               38.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               49.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               40.0

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               27.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               36.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               32.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               29.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               37.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               42.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                                0.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               36.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               37.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               35.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               29.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               35.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               42.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               35.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               30.0

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               31.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               40.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               38.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               31.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               39.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               32.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               36.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                                0.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               31.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               43.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               33.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               37.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               34.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               41.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               36.0

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               42.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               37.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               37.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               36.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               42.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               41.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               37.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               31.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                                0.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               36.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               32.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               48.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               37.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               46.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               41.0

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               42.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               27.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               43.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               34.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               44.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               41.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               35.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               43.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               36.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                                0.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               40.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               46.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               45.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               46.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               49.0

id1                                                                                                     L1_2  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               34.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               43.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               45.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               34.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               44.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               47.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               29.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               33.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               32.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               40.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                                0.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               46.0