In [1]:
import pandas as pd
import numpy as np
import os
import pyarrow.parquet as pq
from sklearn.metrics.pairwise import cosine_distances, manhattan_distances

from ipynb.fs.full.example_data_gen import random_data_gen
from functions import get_absolute_matrix, get_relative_matrix

In [2]:
REAL_DATASET = False
SUBSET = True

### Define functions

In [3]:
if REAL_DATASET:

    checkpoint_path = "df_checkpoint.parquet"

    # load data from checkpoint or save
    if os.path.exists(checkpoint_path):
        print("Loading df from checkpoint...")
        df = pd.read_parquet(checkpoint_path)
        df = df.drop(columns=['original_post_id', 'author_name', 'author_username'])
        df = df.rename(columns={'tweet_created_at':'timestamp', 'author_id':'id1', 'retweeter_id':'id2'})

        if SUBSET:
            df = df.tail(10000)
            print('Working with subset of real data')

        else:
            print('Working with full real data')

else:
    print('Working with randomly generated data')
    # generate random data
    df = random_data_gen()
    df = df.rename(columns={'L1_id':'id1', 'L2_id':'id2'})

Working with randomly generated data

In [4]:
df.head()

    id1    id2                  timestamp
0  L1_0  L2_10 2020-01-04 15:03:51.443816
1  L1_0   L2_3 2020-01-05 10:53:58.356795
2  L1_1   L2_7 2020-01-05 16:38:25.657112
3  L1_1  L2_17 2020-01-07 18:48:19.784832
4  L1_1  L2_10 2020-01-09 01:36:22.757205

In [5]:
get_relative_matrix(df, timeframe = 'M', distance_function=cosine_distances)

id1                                                          L1_0      L1_1  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...  0.000000  0.393220
L1_1 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...  0.393220  0.000000
L1_2 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...  1.000000  1.000000
L1_0 2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...  0.000000  0.666667
L1_1 2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...  0.666667  0.000000
...                                                           ...       ...
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...  1.000000  0.000000
L1_2 2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...  0.823223  0.833333
L1_0 2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...  0.000000  0.519616
L1_1 2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...  0.519616  0.000000
L1_2 2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...  0.839872  1.000000

id1                                                          L1_2
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...  1.000000
L1_1 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...  1.000000
L1_2 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...  0.000000
L1_0 2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...  0.855662
L1_1 2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...  0.711325
...                                                           ...
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...  0.833333
L1_2 2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...  0.000000
L1_0 2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...  0.839872
L1_1 2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...  1.000000
L1_2 2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...  0.000000

[179 rows x 3 columns]

In [6]:
get_absolute_matrix(df, timeframe='Y', distance_function=manhattan_distances)

id1                                                                                                     L1_0  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                                0.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               40.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               39.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               30.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               35.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               41.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               30.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               40.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               44.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               34.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               50.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               25.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               43.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               42.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               48.0

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               40.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                                0.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               35.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               42.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               29.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               43.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               38.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               30.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               28.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               30.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               44.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               31.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               41.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               52.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               44.0

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               39.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               35.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                                0.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               29.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               28.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               40.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               29.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               39.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               31.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               17.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               53.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               30.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               40.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               39.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               35.0

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               30.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               42.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               29.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                                0.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               33.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               37.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               34.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               44.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               40.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               34.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               56.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               33.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               47.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               40.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               50.0

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               35.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               29.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               28.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               33.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                                0.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               42.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               29.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               31.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               37.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               27.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               41.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               22.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               34.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               37.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               43.0

id1                                                                                                     L1_1  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               41.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               43.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               40.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               37.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               42.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                                0.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               39.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               41.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               43.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               37.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               47.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               38.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               38.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               41.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               39.0

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               30.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               38.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               29.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               34.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               29.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               39.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                                0.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               42.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               38.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               28.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               52.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               23.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               41.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               32.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               38.0

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               40.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               30.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               39.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               44.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               31.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               41.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               42.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                                0.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               32.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               36.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               32.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               31.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               43.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               46.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               40.0

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               44.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               28.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               31.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               40.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               37.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               43.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               38.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               32.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                                0.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               34.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               42.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               33.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               49.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               46.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               52.0

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               34.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               30.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               17.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               34.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               27.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               37.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               28.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               36.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               34.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                                0.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               52.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               29.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               37.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               46.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               36.0

id1                                                                                                     L1_2  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               50.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               44.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               53.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               56.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               41.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               47.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               52.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               32.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               42.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               52.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                                0.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               41.0