In [4]:
import pandas as pd
import numpy as np
import os
import pyarrow.parquet as pq
from sklearn.metrics.pairwise import cosine_distances, manhattan_distances

from functions import get_absolute_matrix, get_relative_matrix, random_data_gen

In [5]:
REAL_DATASET = False
SUBSET = True

In [6]:
if REAL_DATASET:

    checkpoint_path = "df_checkpoint.parquet"

    # load data from checkpoint or save
    if os.path.exists(checkpoint_path):
        print("Loading df from checkpoint...")
        df = pd.read_parquet(checkpoint_path)
        df = df.drop(columns=['original_post_id', 'author_name', 'author_username'])
        df = df.rename(columns={'tweet_created_at':'timestamp', 'author_id':'id1', 'retweeter_id':'id2'})

        if SUBSET:
            df = df.tail(10000)
            print('Working with subset of real data')

        else:
            print('Working with full real data')

else:
    print('Working with randomly generated data')
    # generate random data
    df = random_data_gen()
    df = df.rename(columns={'L1_id':'id1', 'L2_id':'id2'})

Working with randomly generated data

In [7]:
df.head()

    id1   id2                  timestamp
0  L1_1  L2_0 2020-01-02 01:04:25.679659
1  L1_1  L2_7 2020-01-05 02:00:20.138697
2  L1_1  L2_8 2020-01-05 15:43:24.833179
3  L1_1  L2_4 2020-01-11 00:37:16.896025
4  L1_1  L2_8 2020-01-11 16:56:24.714127

In [8]:
get_relative_matrix(df)

,id1,L1_0,L1_1,L1_2
id1,timeframe,,,
L1_0,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.000000,0.238736,0.413229
L1_1,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.238736,0.000000,0.379644
L1_2,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.413229,0.379644,0.000000
L1_0,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.000000,0.214938,0.123611
L1_1,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.214938,0.000000,0.147453
L1_2,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.123611,0.147453,0.000000
L1_0,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.000000,0.172115,0.276690
L1_1,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.172115,0.000000,0.208591
L1_2,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.276690,0.208591,0.000000
L1_0,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.000000,0.114730,0.247674
L1_1,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.114730,0.000000,0.220663
L1_2,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.247674,0.220663,0.000000
L1_0,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.000000,0.330933,0.267595
L1_1,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.330933,0.000000,0.256554
L1_2,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.267595,0.256554,0.000000

In [9]:
get_absolute_matrix(df, timeframe='Y', distance_function=manhattan_distances)

id1                                                                                                     L1_0  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                                0.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               38.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               40.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               44.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               33.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               37.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               44.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               42.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               39.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               46.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               58.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               36.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               41.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               40.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               38.0

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               38.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                                0.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               32.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               44.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               43.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               37.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               40.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               42.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               37.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               46.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               56.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               30.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               43.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               40.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               38.0

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               40.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               32.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                                0.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               34.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               37.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               37.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               46.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               38.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               37.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               48.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               56.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               44.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               49.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               46.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               48.0

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               44.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               44.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               34.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                                0.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               45.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               47.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               44.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               36.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               31.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               36.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               60.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               40.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               37.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               50.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               36.0

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               33.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               43.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               37.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               45.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                                0.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               48.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               47.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               41.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               42.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               51.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               43.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               37.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               44.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               37.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               39.0

id1                                                                                                     L1_1  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               37.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               37.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               37.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               47.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               48.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                                0.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               45.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               35.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               42.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               37.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               53.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               51.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               50.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               39.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               39.0

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               44.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               40.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               46.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               44.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               47.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               45.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                                0.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               34.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               39.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               40.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               44.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               34.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               31.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               44.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               34.0

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               42.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               42.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               38.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               36.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               41.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               35.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               34.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                                0.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               27.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               24.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               46.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               34.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               35.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               34.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               26.0

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               39.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               37.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               37.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               31.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               42.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               42.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               39.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               27.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                                0.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               43.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               53.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               37.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               30.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               41.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               33.0

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               46.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               46.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               48.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               36.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               51.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               37.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               40.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               24.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               43.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                                0.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               52.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               36.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               47.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               48.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               36.0

id1                                                                                                     L1_2  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               58.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               56.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               56.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               60.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               43.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                               53.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               44.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                               46.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                               53.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                               52.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                                0.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                               44.0