In [1]:
from STDC import STDC
import pandas as pd

In [45]:
# initialize class
stdc = STDC(num_rows=10000000,dimensions=2, time_type='intrinsic', timeframe=10000)
#stdc = STDC(num_rows=10000000,dimensions=2, time_type='actual', timeframe="%Y-%m")

In [46]:
_ = stdc.calculate_timeframe()

In [47]:
_ = stdc.calculate_biadjacency_matrix()

In [48]:
_ = stdc.calculate_positions()

In [49]:
_ = stdc.calculate_reduced_positions()

In [50]:
_ = stdc.calculate_velocities()

In [37]:
stdc.raw_data

         id1    id2                  timestamp timeframe
0       L1_2   L2_5 2020-01-01 00:00:24.667550   2020-01
1       L1_2   L2_6 2020-01-01 00:00:34.307238   2020-01
2       L1_2   L2_0 2020-01-01 00:00:36.077352   2020-01
3       L1_0  L2_16 2020-01-01 00:02:51.783727   2020-01
4       L1_0  L2_14 2020-01-01 00:09:22.257141   2020-01
...      ...    ...                        ...       ...
999995  L1_0  L2_13 2024-12-31 23:52:49.794243   2024-12
999996  L1_1  L2_15 2024-12-31 23:54:04.608369   2024-12
999997  L1_1  L2_14 2024-12-31 23:55:17.254567   2024-12
999998  L1_0   L2_0 2024-12-31 23:58:30.182070   2024-12
999999  L1_0  L2_15 2024-12-31 23:59:26.513918   2024-12

[1000000 rows x 4 columns]

In [38]:
stdc.velocities

                             0         1
id1  t1      t2
L1_0 2020-01 2020-02  0.002718 -0.001604
     2020-02 2020-03 -0.003762  0.000524
     2020-03 2020-04  0.002732  0.000913
     2020-04 2020-05 -0.000741  0.000282
     2020-05 2020-06  0.000649 -0.000137
...                        ...       ...
L1_2 2024-07 2024-08  0.000117 -0.001351
     2024-08 2024-09  0.001137 -0.000845
     2024-09 2024-10  0.000479  0.001068
     2024-10 2024-11 -0.000085 -0.000365
     2024-11 2024-12  0.000160  0.000366

[177 rows x 2 columns]