In [1]:
from STDC import STDC
import pandas as pd

In [2]:
# initialize class
stdc = STDC()

In [3]:
stdc.raw_data

      id1    id2                  timestamp
0    L1_1   L2_8 2020-01-05 07:32:33.665659
1    L1_0  L2_10 2020-01-06 12:14:29.948396
2    L1_2  L2_13 2020-01-08 12:58:54.046834
3    L1_1  L2_19 2020-01-10 17:05:23.800742
4    L1_0   L2_8 2020-01-11 22:01:40.068331
..    ...    ...                        ...
995  L1_1  L2_15 2024-12-26 01:39:31.225656
996  L1_1   L2_3 2024-12-27 01:34:02.879350
997  L1_0  L2_14 2024-12-27 09:36:29.376744
998  L1_1   L2_5 2024-12-28 04:21:07.881995
999  L1_1   L2_7 2024-12-29 08:57:38.907384

[1000 rows x 3 columns]

In [4]:
stdc.calculate_timeframe()

,id1,id2,timestamp,timeframe
0,L1_1,L2_8,2020-01-05 07:32:33.665659,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
1,L1_0,L2_10,2020-01-06 12:14:29.948396,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
2,L1_2,L2_13,2020-01-08 12:58:54.046834,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
3,L1_1,L2_19,2020-01-10 17:05:23.800742,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
4,L1_0,L2_8,2020-01-11 22:01:40.068331,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
...,...,...,...,...
995,L1_1,L2_15,2024-12-26 01:39:31.225656,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...
996,L1_1,L2_3,2024-12-27 01:34:02.879350,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...
997,L1_0,L2_14,2024-12-27 09:36:29.376744,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...
998,L1_1,L2_5,2024-12-28 04:21:07.881995,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...
999,L1_1,L2_7,2024-12-29 08:57:38.907384,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...

In [5]:
stdc.calculate_biadjacency_matrix()

id2                                                      L2_0  L2_1  L2_10  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   3.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   0.0   1.0    0.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   3.0    6.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   7.0   3.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   5.0   2.0    4.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   5.0   2.0    1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   4.0    7.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   1.0   3.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   1.0   4.0    5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   1.0   2.0    1.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   2.0    1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   5.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   6.0   2.0    0.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   1.0   2.0    1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   4.0   4.0    3.0

id2                                                      L2_11  L2_12  L2_13  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    2.0    4.0    0.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    2.0    4.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    6.0    1.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    2.0    7.0    4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    5.0    4.0    1.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    0.0    3.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    6.0    0.0    2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    3.0    2.0    2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    3.0    1.0    1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    2.0    5.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    4.0    6.0    7.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    2.0    6.0    3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    1.0    4.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    5.0    6.0    5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    2.0    3.0

id2                                                      L2_14  L2_15  L2_16  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    1.0    4.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    8.0    4.0    3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    2.0    3.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    8.0    4.0    6.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    3.0    4.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    5.0    1.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    1.0    5.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    3.0    2.0    5.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    2.0    3.0    1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    2.0    2.0    3.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    4.0    2.0    5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    4.0    3.0    1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    2.0    4.0    2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    4.0    2.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    1.0    5.0    4.0

id2                                                      L2_17  L2_18  L2_19  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    3.0    8.0    4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    6.0    2.0    2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    3.0    5.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    0.0    1.0    0.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    0.0    1.0    5.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    9.0    7.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    5.0    4.0    7.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    3.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    2.0    4.0    4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    5.0    2.0    3.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    4.0    3.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    5.0    5.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    7.0    2.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    3.0    5.0    4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    6.0    5.0    0.0

id2                                                      L2_2  L2_3  L2_4  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   5.0   4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   4.0   1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   0.0   4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   4.0   5.0   6.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   3.0   4.0   2.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   3.0   4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   1.0   4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   7.0   1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   1.0   2.0   5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   4.0   6.0   5.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   2.0   3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   5.0   9.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   5.0   6.0   4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   6.0   3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   5.0   1.0   2.0

id2                                                      L2_5  L2_6  L2_7  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   5.0   3.0   3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   3.0   2.0   1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   7.0   6.0   4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   5.0   4.0   2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   3.0   3.0   5.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   2.0   2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   5.0   3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   6.0   3.0   3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   2.0   3.0   3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   4.0   1.0   4.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   3.0   2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   2.0   4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   4.0   8.0   1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   6.0   8.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   1.0   2.0   4.0

id2                                                      L2_8  L2_9
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   4.0   5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   2.0   4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   5.0   1.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   0.0   8.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   1.0   3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   3.0   0.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   6.0   3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   5.0   1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   4.0   3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   3.0   2.0

In [6]:
stdc.calculate_positions()

,id1,L1_0,L1_1,L1_2
id1,timeframe,,,
L1_0,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.000000,0.181371,0.240860
L1_1,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.181371,0.000000,0.213150
L1_2,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.240860,0.213150,0.000000
L1_0,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.000000,0.418756,0.253791
L1_1,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.418756,0.000000,0.300392
L1_2,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.253791,0.300392,0.000000
L1_0,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.000000,0.165790,0.257084
L1_1,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.165790,0.000000,0.207465
L1_2,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.257084,0.207465,0.000000
L1_0,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.000000,0.329846,0.249120
L1_1,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.329846,0.000000,0.217979
L1_2,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.249120,0.217979,0.000000
L1_0,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.000000,0.223073,0.263457
L1_1,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.223073,0.000000,0.216186
L1_2,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.263457,0.216186,0.000000

In [7]:
stdc.calculate_reduced_positions()

,id1,L1_0,L1_1,L1_2
id1,timeframe,,,
L1_0,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.000000,0.181371,0.240860
L1_1,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.181371,0.000000,0.213150
L1_2,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.240860,0.213150,0.000000
L1_0,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.000000,0.418756,0.253791
L1_1,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.418756,0.000000,0.300392
L1_2,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.253791,0.300392,0.000000
L1_0,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.000000,0.165790,0.257084
L1_1,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.165790,0.000000,0.207465
L1_2,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.257084,0.207465,0.000000
L1_0,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.000000,0.329846,0.249120
L1_1,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.329846,0.000000,0.217979
L1_2,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.249120,0.217979,0.000000
L1_0,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.000000,0.223073,0.263457
L1_1,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.223073,0.000000,0.216186
L1_2,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.263457,0.216186,0.000000

In [8]:
stdc.reduced_positions

,id1,L1_0,L1_1,L1_2
id1,timeframe,,,
L1_0,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.000000,0.181371,0.240860
L1_1,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.181371,0.000000,0.213150
L1_2,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.240860,0.213150,0.000000
L1_0,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.000000,0.418756,0.253791
L1_1,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.418756,0.000000,0.300392
L1_2,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.253791,0.300392,0.000000
L1_0,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.000000,0.165790,0.257084
L1_1,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.165790,0.000000,0.207465
L1_2,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.257084,0.207465,0.000000
L1_0,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.000000,0.329846,0.249120
L1_1,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.329846,0.000000,0.217979
L1_2,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.249120,0.217979,0.000000
L1_0,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.000000,0.223073,0.263457
L1_1,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.223073,0.000000,0.216186
L1_2,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.263457,0.216186,0.000000

In [9]:
stdc.calculate_velocities()

id1                                                                                                             L1_0  \
id1  t1                                                 t2
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999... 2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...  0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999... 2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...  0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999... 2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...  0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999... 2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...  0.000000
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999... 2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...  0.237385
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999... 2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999... -0.252966
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999... 2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...  0.164056
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999... 2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999... -0.106773
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999... 2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...  0.012931
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999... 2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...  0.003293
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999... 2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999... -0.007963
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999... 2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...  0.014337

id1                                                                                                             L1_1  \
id1  t1                                                 t2
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999... 2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...  0.237385
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999... 2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999... -0.252966
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999... 2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...  0.164056
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999... 2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999... -0.106773
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999... 2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...  0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999... 2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...  0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999... 2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...  0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999... 2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...  0.000000
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999... 2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...  0.087241
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999... 2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999... -0.092926
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999... 2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...  0.010514
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999... 2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999... -0.001794

id1                                                                                                             L1_2
id1  t1                                                 t2
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999... 2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...  0.012931
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999... 2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...  0.003293
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999... 2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999... -0.007963
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999... 2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...  0.014337
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999... 2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...  0.087241
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999... 2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999... -0.092926
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999... 2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...  0.010514
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999... 2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999... -0.001794
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999... 2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...  0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999... 2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...  0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999... 2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...  0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999... 2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...  0.000000

In [10]:
stdc.calculate_custom_distance_velocities()

,Node,t1,t2,Velocity
0,L1_0,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,0.071522
1,L1_1,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,0.029501
2,L1_2,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,0.010472
3,L1_0,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,0.100932
4,L1_1,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,0.037391
5,L1_2,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,0.018052
6,L1_0,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,0.061027
7,L1_1,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,0.048471
8,L1_2,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,0.000793
9,L1_0,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...,0.024398
10,L1_1,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...,0.017203
11,L1_2,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...,0.000501