In [43]:
from STDC import STDC

In [44]:
# initialize class
stdc = STDC(time_type='intrinsic', timeframe= 10, dimensions=2)

In [45]:
stdc.raw_data

      id1    id2                  timestamp
0    L1_0   L2_6 2020-01-07 05:11:39.387495
1    L1_2  L2_18 2020-01-07 20:23:04.415249
2    L1_2   L2_9 2020-01-09 02:36:07.526379
3    L1_0  L2_14 2020-01-14 17:07:31.706173
4    L1_1   L2_9 2020-01-15 22:11:23.024118
..    ...    ...                        ...
995  L1_2   L2_5 2024-12-27 22:31:05.202505
996  L1_0   L2_9 2024-12-28 04:09:50.010054
997  L1_1   L2_0 2024-12-28 04:36:32.938823
998  L1_1   L2_4 2024-12-28 18:31:12.117077
999  L1_1  L2_18 2024-12-31 14:54:34.352446

[1000 rows x 3 columns]

In [46]:
stdc.calculate_velocities()

                   0         1
id1  t1 t2
L1_0 0  1  -0.249440 -0.152354
     1  2  -0.119922  0.238956
     2  3   0.092341 -0.021651
     3  4   0.099613 -0.321526
     4  5   0.215989  0.132048
...              ...       ...
L1_2 94 95 -0.077160  0.249053
     95 96  0.000000  0.000000
     96 97  0.377552 -0.130739
     97 98 -0.277940 -0.190788
     98 99  0.135782  0.263970

[293 rows x 2 columns]

In [47]:
stdc.biadjacency_matrix

id2             L2_0  L2_1  L2_10  L2_11  L2_12  L2_13  L2_14  L2_15  L2_16  \
id1  timeframe
L1_0 0           0.0   0.0    0.0    0.0    1.0    0.0    1.0    0.0    0.0
     1           0.0   0.0    0.0    0.0    0.0    1.0    0.0    0.0    0.0
     2           0.0   0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0
     3           0.0   0.0    0.0    0.0    0.0    1.0    1.0    0.0    1.0
     4           0.0   0.0    0.0    1.0    0.0    1.0    0.0    0.0    0.0
...              ...   ...    ...    ...    ...    ...    ...    ...    ...
L1_2 95          0.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
     96          0.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
     97          0.0   1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
     98          0.0   0.0    0.0    0.0    0.0    0.0    1.0    0.0    0.0
     99          0.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0    1.0

id2             L2_17  L2_18  L2_19  L2_2  L2_3  L2_4  L2_5  L2_6  L2_7  L2_8  \
id1  timeframe
L1_0 0            0.0    0.0    0.0   0.0   1.0   0.0   0.0   1.0   0.0   0.0
     1            0.0    1.0    0.0   0.0   0.0   0.0   0.0   2.0   0.0   0.0
     2            0.0    0.0    0.0   0.0   0.0   1.0   1.0   0.0   0.0   0.0
     3            0.0    0.0    0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0
     4            0.0    0.0    1.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
...               ...    ...    ...   ...   ...   ...   ...   ...   ...   ...
L1_2 95           0.0    1.0    0.0   0.0   0.0   0.0   1.0   1.0   0.0   0.0
     96           0.0    0.0    1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     97           0.0    0.0    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     98           0.0    0.0    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     99           0.0    1.0    0.0   0.0   0.0   0.0   1.0   0.0   0.0   1.0

id2             L2_9
id1  timeframe
L1_0 0           0.0
     1           0.0
     2           0.0
     3           0.0
     4           0.0
...              ...
L1_2 95          0.0
     96          0.0
     97          0.0
     98          0.0
     99          0.0

[296 rows x 20 columns]

In [48]:
stdc.positions

id1                 L1_0      L1_1      L1_2
id1  timeframe
L1_0 0          0.000000  1.000000  1.000000
L1_1 0          1.000000  0.000000  0.244071
L1_2 0          1.000000  0.244071  0.000000
L1_0 1          0.000000  0.711325  0.591752
L1_1 1          0.711325  0.000000  0.646447
...                  ...       ...       ...
     98         0.764298  0.000000  0.591752
L1_2 98         1.000000  0.591752  0.000000
L1_0 99         0.000000  0.666667  0.711325
L1_1 99         0.666667  0.000000  0.711325
L1_2 99         0.711325  0.711325  0.000000

[296 rows x 3 columns]

In [49]:
stdc.raw_data

      id1    id2                  timestamp  timeframe
0    L1_0   L2_6 2020-01-07 05:11:39.387495          0
1    L1_2  L2_18 2020-01-07 20:23:04.415249          0
2    L1_2   L2_9 2020-01-09 02:36:07.526379          0
3    L1_0  L2_14 2020-01-14 17:07:31.706173          0
4    L1_1   L2_9 2020-01-15 22:11:23.024118          0
..    ...    ...                        ...        ...
995  L1_2   L2_5 2024-12-27 22:31:05.202505         99
996  L1_0   L2_9 2024-12-28 04:09:50.010054         99
997  L1_1   L2_0 2024-12-28 04:36:32.938823         99
998  L1_1   L2_4 2024-12-28 18:31:12.117077         99
999  L1_1  L2_18 2024-12-31 14:54:34.352446         99

[1000 rows x 4 columns]

In [50]:
stdc.calculate_timeframe()

      id1    id2                  timestamp  timeframe
0    L1_0   L2_6 2020-01-07 05:11:39.387495          0
1    L1_2  L2_18 2020-01-07 20:23:04.415249          0
2    L1_2   L2_9 2020-01-09 02:36:07.526379          0
3    L1_0  L2_14 2020-01-14 17:07:31.706173          0
4    L1_1   L2_9 2020-01-15 22:11:23.024118          0
..    ...    ...                        ...        ...
995  L1_2   L2_5 2024-12-27 22:31:05.202505         99
996  L1_0   L2_9 2024-12-28 04:09:50.010054         99
997  L1_1   L2_0 2024-12-28 04:36:32.938823         99
998  L1_1   L2_4 2024-12-28 18:31:12.117077         99
999  L1_1  L2_18 2024-12-31 14:54:34.352446         99

[1000 rows x 4 columns]

In [51]:
stdc.calculate_biadjacency_matrix()

id2             L2_0  L2_1  L2_10  L2_11  L2_12  L2_13  L2_14  L2_15  L2_16  \
id1  timeframe
L1_0 0           0.0   0.0    0.0    0.0    1.0    0.0    1.0    0.0    0.0
     1           0.0   0.0    0.0    0.0    0.0    1.0    0.0    0.0    0.0
     2           0.0   0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0
     3           0.0   0.0    0.0    0.0    0.0    1.0    1.0    0.0    1.0
     4           0.0   0.0    0.0    1.0    0.0    1.0    0.0    0.0    0.0
...              ...   ...    ...    ...    ...    ...    ...    ...    ...
L1_2 95          0.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
     96          0.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
     97          0.0   1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
     98          0.0   0.0    0.0    0.0    0.0    0.0    1.0    0.0    0.0
     99          0.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0    1.0

id2             L2_17  L2_18  L2_19  L2_2  L2_3  L2_4  L2_5  L2_6  L2_7  L2_8  \
id1  timeframe
L1_0 0            0.0    0.0    0.0   0.0   1.0   0.0   0.0   1.0   0.0   0.0
     1            0.0    1.0    0.0   0.0   0.0   0.0   0.0   2.0   0.0   0.0
     2            0.0    0.0    0.0   0.0   0.0   1.0   1.0   0.0   0.0   0.0
     3            0.0    0.0    0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0
     4            0.0    0.0    1.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
...               ...    ...    ...   ...   ...   ...   ...   ...   ...   ...
L1_2 95           0.0    1.0    0.0   0.0   0.0   0.0   1.0   1.0   0.0   0.0
     96           0.0    0.0    1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     97           0.0    0.0    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     98           0.0    0.0    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     99           0.0    1.0    0.0   0.0   0.0   0.0   1.0   0.0   0.0   1.0

id2             L2_9
id1  timeframe
L1_0 0           0.0
     1           0.0
     2           0.0
     3           0.0
     4           0.0
...              ...
L1_2 95          0.0
     96          0.0
     97          0.0
     98          0.0
     99          0.0

[296 rows x 20 columns]

In [52]:
stdc.calculate_positions()

id1                 L1_0      L1_1      L1_2
id1  timeframe
L1_0 0          0.000000  1.000000  1.000000
L1_1 0          1.000000  0.000000  0.244071
L1_2 0          1.000000  0.244071  0.000000
L1_0 1          0.000000  0.711325  0.591752
L1_1 1          0.711325  0.000000  0.646447
...                  ...       ...       ...
     98         0.764298  0.000000  0.591752
L1_2 98         1.000000  0.591752  0.000000
L1_0 99         0.000000  0.666667  0.711325
L1_1 99         0.666667  0.000000  0.711325
L1_2 99         0.711325  0.711325  0.000000

[296 rows x 3 columns]

In [53]:
# get relative matrix
stdc.calculate_reduced_positions()

                       0         1
id1  timeframe
L1_0 0          0.548524  0.600464
L1_1 0         -0.371205 -0.636435
L1_2 0         -0.621997 -0.399372
L1_0 1          0.299083  0.448110
L1_1 1          0.109029 -0.540559
...                  ...       ...
     98         0.035903 -0.561669
L1_2 98        -0.706832 -0.125547
L1_0 99         0.403670  0.390971
L1_1 99         0.185382 -0.526210
L1_2 99        -0.571049  0.138423

[296 rows x 2 columns]

In [55]:
print(stdc.raw_data['timeframe'])

0       0
1       0
2       0
3       0
4       0
       ..
995    99
996    99
997    99
998    99
999    99
Name: timeframe, Length: 1000, dtype: int64

In [58]:
np.floor(stdc.raw_data['timeframe'] / 10)

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
995    9.0
996    9.0
997    9.0
998    9.0
999    9.0
Name: timeframe, Length: 1000, dtype: float64