In [1]:
from STDC import STDC

In [2]:
# initialize class
stdc = STDC(timeframe='Y')

# store data
data = stdc.data()

In [3]:
# view data
stdc.view()

    id1    id2                  timestamp
0  L1_0   L2_4 2020-01-01 07:40:59.897396
1  L1_1  L2_17 2020-01-01 15:26:24.470824
2  L1_0  L2_14 2020-01-03 13:50:13.423497
3  L1_2   L2_2 2020-01-05 11:39:01.122856
4  L1_1  L2_16 2020-01-09 07:27:18.543253

In [4]:
stdc.calculate_positions(data, comparison='absolute')

id1                                                                                                     L1_0  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.300035
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.197021
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.239983
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.324604
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.308750
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.220123
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.323314
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.154719
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.264406
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.211819
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.221516
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.324503
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.234533
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.176351

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.300035
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.199628
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.141762
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.217403
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.262051
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.265117
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.216742
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.283042
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.272699
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.183443
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.358085
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.321413
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.211222
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.208658

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.197021
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.199628
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.203101
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.174812
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.174376
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.146257
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.103759
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.173126
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.156563
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.101091
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.219953
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.272225
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.157315
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.169402

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.239983
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.141762
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.203101
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.000000
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.172137
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.244879
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.257263
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.196355
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.189789
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.274757
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.130119
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.280271
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.199498
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.121916
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.170567

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.324604
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.217403
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.174812
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.172137
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.000000
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.289309
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.303149
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.176777
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.199353
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.167047
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.207335
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.298648
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.324823
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.163436
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.222174

id1                                                                                                     L1_1  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.308750
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.262051
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.174376
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.244879
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.289309
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.251775
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.217737
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.297980
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.274495
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.190079
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.216476
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.275475
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.266207
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.177685

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.220123
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.265117
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.146257
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.257263
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.303149
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.251775
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.253683
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.198843
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.248867
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.190020
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.197150
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.339808
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.217207
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.188480

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.323314
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.216742
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.103759
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.196355
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.176777
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.217737
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.253683
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.260802
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.115112
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.107339
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.339986
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.202298
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.210772
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.248553

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.154719
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.283042
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.173126
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.189789
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.199353
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.297980
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.198843
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.260802
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.000000
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.232144
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.171675
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.131924
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.202502
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.068972
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.180730

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.264406
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.272699
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.156563
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.274757
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.167047
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.274495
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.248867
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.115112
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.232144
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.000000
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.203168
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.301116
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.240759
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.235325
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.210381

id1                                                                                                     L1_2  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.211819
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.183443
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.101091
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.130119
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.207335
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.190079
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.190020
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.107339
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.171675
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.203168
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.244622

In [5]:
# biadjacency matrix
stdc.compute_biadjacency_matrix(raw_data=data, leader_col=stdc.leader_col, follower_col=stdc.follower_col)

id2                                                      L2_0  L2_1  L2_10  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   2.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   3.0   3.0    3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   3.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   3.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   5.0   4.0    2.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   7.0   5.0    5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   3.0    2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   6.0   5.0    5.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   3.0    4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   6.0   2.0    3.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   3.0    4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   5.0   4.0    1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   1.0   4.0    6.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   2.0   5.0    1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   3.0   5.0    1.0

id2                                                      L2_11  L2_12  L2_13  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    9.0    3.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    3.0    2.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    3.0    5.0    6.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    1.0    6.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    1.0    3.0    1.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    1.0    3.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    5.0    3.0    3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    2.0    8.0    6.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    3.0    3.0    4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    3.0    3.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    3.0    6.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    4.0    1.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    1.0    6.0    2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    1.0    4.0    5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    3.0    2.0    3.0

id2                                                      L2_14  L2_15  L2_16  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    5.0    2.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    1.0    8.0    3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    3.0    3.0    2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    3.0    7.0    4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    2.0    6.0    6.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    3.0    2.0    1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    2.0    4.0    1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    1.0    3.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    5.0    3.0    6.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    3.0    2.0    5.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    2.0    3.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    4.0    0.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    2.0    0.0    8.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    5.0    4.0    7.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    6.0    3.0    5.0

id2                                                      L2_17  L2_18  L2_19  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    1.0    6.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    3.0    3.0    2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    5.0    4.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    1.0    4.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    2.0    1.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    4.0    7.0    7.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    3.0    1.0    7.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    5.0    3.0    1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    3.0    2.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    9.0    3.0    1.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    3.0    3.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    2.0    3.0    6.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    4.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    3.0    2.0    4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    3.0    4.0    6.0

id2                                                      L2_2  L2_3  L2_4  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   4.0   4.0   5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   3.0   1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   4.0   4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   5.0   5.0   3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   5.0   2.0   3.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   4.0   3.0   3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   0.0   4.0   5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   2.0   4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   5.0   4.0   5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   2.0   2.0   4.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   4.0   5.0   4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   6.0   1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   4.0   3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   5.0   4.0   3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   3.0   4.0   4.0

id2                                                      L2_5  L2_6  L2_7  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   1.0   3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   0.0   2.0   2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   3.0   0.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   2.0   4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   2.0   3.0   1.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   2.0   1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   5.0   3.0   2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   6.0   4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   7.0   2.0   1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   3.0   5.0   6.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   1.0   6.0   1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   7.0   2.0   0.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   2.0   5.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   4.0   3.0   2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   0.0   2.0   4.0

id2                                                      L2_8  L2_9
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   4.0   6.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   1.0   2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   6.0   2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   2.0   2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   8.0   2.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   0.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   5.0   1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   4.0   8.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   6.0   2.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   3.0   3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   0.0   3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   3.0   3.0

In [6]:
# get relative matrix
stdc.get_relative_matrix()

,id1,L1_0,L1_1,L1_2
id1,timeframe,,,
L1_0,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.000000,0.308750,0.211819
L1_1,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.308750,0.000000,0.190079
L1_2,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.211819,0.190079,0.000000
L1_0,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.000000,0.265117,0.358085
L1_1,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.265117,0.000000,0.197150
L1_2,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.358085,0.197150,0.000000
L1_0,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.000000,0.103759,0.272225
L1_1,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.103759,0.000000,0.202298
L1_2,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.272225,0.202298,0.000000
L1_0,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.000000,0.189789,0.121916
L1_1,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.189789,0.000000,0.068972
L1_2,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.121916,0.068972,0.000000
L1_0,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.000000,0.167047,0.222174
L1_1,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.167047,0.000000,0.210381
L1_2,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.222174,0.210381,0.000000

In [7]:
# get absolute matrix
stdc.get_absolute_matrix()

id1                                                                                                     L1_0  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.300035
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.197021
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.239983
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.324604
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.308750
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.220123
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.323314
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.154719
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.264406
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.211819
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.221516
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.324503
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.234533
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.176351

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.300035
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.199628
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.141762
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.217403
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.262051
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.265117
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.216742
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.283042
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.272699
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.183443
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.358085
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.321413
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.211222
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.208658

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.197021
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.199628
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.203101
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.174812
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.174376
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.146257
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.103759
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.173126
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.156563
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.101091
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.219953
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.272225
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.157315
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.169402

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.239983
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.141762
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.203101
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.000000
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.172137
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.244879
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.257263
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.196355
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.189789
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.274757
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.130119
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.280271
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.199498
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.121916
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.170567

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.324604
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.217403
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.174812
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.172137
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.000000
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.289309
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.303149
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.176777
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.199353
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.167047
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.207335
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.298648
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.324823
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.163436
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.222174

id1                                                                                                     L1_1  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.308750
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.262051
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.174376
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.244879
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.289309
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.251775
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.217737
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.297980
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.274495
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.190079
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.216476
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.275475
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.266207
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.177685

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.220123
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.265117
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.146257
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.257263
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.303149
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.251775
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.253683
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.198843
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.248867
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.190020
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.197150
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.339808
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.217207
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.188480

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.323314
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.216742
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.103759
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.196355
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.176777
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.217737
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.253683
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.260802
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.115112
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.107339
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.339986
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.202298
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.210772
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.248553

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.154719
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.283042
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.173126
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.189789
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.199353
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.297980
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.198843
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.260802
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.000000
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.232144
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.171675
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.131924
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.202502
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.068972
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.180730

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.264406
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.272699
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.156563
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.274757
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.167047
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.274495
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.248867
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.115112
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.232144
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.000000
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.203168
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.301116
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.240759
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.235325
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.210381

id1                                                                                                     L1_2  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.211819
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.183443
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.101091
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.130119
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.207335
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.190079
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.190020
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.107339
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.171675
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.203168
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.244622

In [8]:
# unique timeframes
stdc.get_unique_timeframes(data)

array(['2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999',
       '2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999',
       '2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999',
       '2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999',
       '2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999'],
      dtype=object)

In [9]:
# unique entities
stdc.get_unique_entities(data)

array(['L1_0', 'L1_1', 'L1_2'], dtype=object)