In [1]:
from STDC import STDC

In [7]:
# initialize class
stdc = STDC(timeframe='Y', field_names=['id1', 'id2', 'timestamp'], time_type='actual', comparison='absolute')

In [9]:
stdc.calculate_velocities()

,Node,t1,t2,Velocity
0,L1_0,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,0.126543
1,L1_1,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,0.055983
2,L1_2,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,0.128495
3,L1_0,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,0.046615
4,L1_1,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,0.145932
5,L1_2,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,0.095960
6,L1_0,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,0.040320
7,L1_1,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,0.059084
8,L1_2,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,0.090752
9,L1_0,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...,0.150674
10,L1_1,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...,0.065929
11,L1_2,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...,0.125565

In [10]:
stdc.biadjacency_matrix

id2                                                      L2_0  L2_1  L2_10  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   3.0    6.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   0.0    3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   1.0   1.0    2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   2.0    5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   7.0   3.0    3.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   3.0    1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   2.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   6.0   3.0    2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   1.0   2.0    1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   3.0   1.0    5.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   5.0    5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   5.0   2.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   5.0   6.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   7.0   2.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   5.0   2.0    2.0

id2                                                      L2_11  L2_12  L2_13  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    5.0    2.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    4.0    4.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    5.0    2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    1.0    5.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    2.0    2.0    8.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    1.0    3.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    3.0    2.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    1.0    7.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    2.0    1.0    4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    2.0    1.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    2.0    2.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    6.0    3.0    2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    1.0    3.0    7.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    3.0    7.0    8.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    0.0    2.0    4.0

id2                                                      L2_14  L2_15  L2_16  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    5.0    7.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    4.0    4.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    4.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    4.0    2.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    1.0    3.0    4.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    5.0    6.0    5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    2.0    7.0    1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    7.0    3.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    2.0    2.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    2.0    1.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    1.0    6.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    5.0    3.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    2.0    1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    6.0    4.0    7.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    1.0    4.0    0.0

id2                                                      L2_17  L2_18  L2_19  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    5.0    1.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    4.0    5.0    2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    5.0    2.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    2.0    6.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    3.0    1.0    2.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    3.0    3.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    6.0    3.0    1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    7.0    5.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    5.0    5.0    5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    6.0    6.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    4.0    0.0    1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    3.0    2.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    5.0    2.0    7.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    3.0    2.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    3.0    4.0    6.0

id2                                                      L2_2  L2_3  L2_4  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   5.0   3.0   1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   6.0   4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   6.0   4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   8.0   1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   5.0   1.0   2.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   0.0   3.0   4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   0.0   2.0   3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   4.0   0.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   1.0   6.0   2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   5.0   3.0   9.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   3.0   5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   4.0   1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   6.0   3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   5.0   6.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   4.0   2.0   3.0

id2                                                      L2_5  L2_6  L2_7  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   3.0   1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   4.0   2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   1.0   4.0   1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   0.0   6.0   2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   1.0   2.0   4.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   1.0   2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   1.0   2.0   3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   5.0   2.0   3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   7.0   3.0   3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   6.0   3.0   6.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   5.0   1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   5.0   3.0   5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   4.0   1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   4.0   3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   2.0   2.0   3.0

id2                                                      L2_8  L2_9
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   6.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   6.0   5.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   9.0   5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   4.0   3.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   4.0   4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   3.0   5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   6.0   0.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   0.0   4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   2.0   2.0

In [11]:
stdc.positions

id1                                                                                                     L1_0  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.197112
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.151714
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.280555
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.269557
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.196303
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.138861
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.241079
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.265222
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.315069
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.134957
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.116326
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.237976
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.239895
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.271064

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.197112
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.097185
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.150133
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.208501
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.150050
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.209014
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.154142
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.188852
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.178032
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.207873
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.166105
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.198056
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.088629
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.205989

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.151714
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.097185
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.118835
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.306384
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.140687
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.172126
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.211354
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.202591
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.242514
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.179390
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.225707
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.225306
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.159654
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.279626

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.280555
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.150133
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.118835
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.000000
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.312601
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.240648
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.281795
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.235140
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.249252
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.294306
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.277560
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.301710
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.229094
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.242773
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.277511

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.269557
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.208501
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.306384
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.312601
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.000000
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.247558
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.246583
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.256115
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.337267
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.343128
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.235817
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.239475
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.195823
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.135291
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.166659

id1                                                                                                     L1_1  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.196303
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.150050
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.140687
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.240648
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.247558
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.146151
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.160620
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.204605
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.281118
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.208219
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.234458
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.227226
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.111967
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.226401

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.138861
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.209014
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.172126
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.281795
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.246583
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.146151
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.250724
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.250724
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.313836
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.147384
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.260737
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.267828
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.234932
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.236075

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.241079
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.154142
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.211354
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.235140
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.256115
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.160620
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.250724
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.180272
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.279159
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.322897
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.169387
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.161276
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.149780
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.194133

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.265222
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.188852
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.202591
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.249252
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.337267
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.204605
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.250724
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.180272
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.000000
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.219089
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.316223
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.198531
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.198115
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.249190
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.217291

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.315069
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.178032
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.242514
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.294306
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.343128
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.281118
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.313836
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.279159
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.219089
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.000000
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.279269
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.222136
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.282319
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.289960
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.188214

id1                                                                                                     L1_2  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.134957
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.207873
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.179390
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.277560
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.235817
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.208219
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.147384
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.322897
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.316223
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.279269
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.255291

In [12]:
stdc.raw_data

,id1,id2,timestamp,timeframe
0,L1_0,L2_14,2020-01-01 19:53:24.908140,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
1,L1_1,L2_15,2020-01-04 18:00:17.021653,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
2,L1_2,L2_9,2020-01-10 15:22:57.610412,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
3,L1_2,L2_9,2020-01-12 12:06:31.530977,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
4,L1_0,L2_11,2020-01-14 13:25:47.798386,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
...,...,...,...,...
995,L1_2,L2_9,2024-12-16 08:46:31.909265,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...
996,L1_2,L2_4,2024-12-20 21:45:53.518020,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...
997,L1_0,L2_13,2024-12-22 17:03:43.332807,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...
998,L1_1,L2_10,2024-12-31 01:09:31.741041,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...
999,L1_2,L2_17,2024-12-31 20:32:26.210608,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...

In [13]:
stdc.calculate_timeframe()

,id1,id2,timestamp,timeframe
0,L1_0,L2_14,2020-01-01 19:53:24.908140,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
1,L1_1,L2_15,2020-01-04 18:00:17.021653,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
2,L1_2,L2_9,2020-01-10 15:22:57.610412,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
3,L1_2,L2_9,2020-01-12 12:06:31.530977,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
4,L1_0,L2_11,2020-01-14 13:25:47.798386,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...
...,...,...,...,...
995,L1_2,L2_9,2024-12-16 08:46:31.909265,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...
996,L1_2,L2_4,2024-12-20 21:45:53.518020,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...
997,L1_0,L2_13,2024-12-22 17:03:43.332807,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...
998,L1_1,L2_10,2024-12-31 01:09:31.741041,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...
999,L1_2,L2_17,2024-12-31 20:32:26.210608,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...

In [14]:
stdc.calculate_biadjacency_matrix()

id2                                                      L2_0  L2_1  L2_10  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   3.0    6.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   0.0    3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   1.0   1.0    2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   2.0    5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   7.0   3.0    3.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   3.0    1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   2.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   6.0   3.0    2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   1.0   2.0    1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   3.0   1.0    5.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   5.0    5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   5.0   2.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   5.0   6.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   7.0   2.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   5.0   2.0    2.0

id2                                                      L2_11  L2_12  L2_13  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    5.0    2.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    4.0    4.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    5.0    2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    1.0    5.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    2.0    2.0    8.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    1.0    3.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    3.0    2.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    1.0    7.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    2.0    1.0    4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    2.0    1.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    2.0    2.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    6.0    3.0    2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    1.0    3.0    7.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    3.0    7.0    8.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    0.0    2.0    4.0

id2                                                      L2_14  L2_15  L2_16  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    5.0    7.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    4.0    4.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    4.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    4.0    2.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    1.0    3.0    4.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    5.0    6.0    5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    2.0    7.0    1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    7.0    3.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    2.0    2.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    2.0    1.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    1.0    6.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    5.0    3.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    2.0    1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    6.0    4.0    7.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    1.0    4.0    0.0

id2                                                      L2_17  L2_18  L2_19  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    5.0    1.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    4.0    5.0    2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    5.0    2.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    2.0    6.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    3.0    1.0    2.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    3.0    3.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    6.0    3.0    1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    7.0    5.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    5.0    5.0    5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    6.0    6.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    4.0    0.0    1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    3.0    2.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    5.0    2.0    7.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    3.0    2.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    3.0    4.0    6.0

id2                                                      L2_2  L2_3  L2_4  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   5.0   3.0   1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   6.0   4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   6.0   4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   8.0   1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   5.0   1.0   2.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   0.0   3.0   4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   0.0   2.0   3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   4.0   0.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   1.0   6.0   2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   5.0   3.0   9.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   3.0   5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   4.0   1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   6.0   3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   5.0   6.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   4.0   2.0   3.0

id2                                                      L2_5  L2_6  L2_7  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   3.0   1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   4.0   2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   1.0   4.0   1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   0.0   6.0   2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   1.0   2.0   4.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   1.0   2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   1.0   2.0   3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   5.0   2.0   3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   7.0   3.0   3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   6.0   3.0   6.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   5.0   1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   5.0   3.0   5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   4.0   1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   4.0   3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   2.0   2.0   3.0

id2                                                      L2_8  L2_9
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   6.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   6.0   5.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   9.0   5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   4.0   3.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   4.0   4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   3.0   5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   6.0   0.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   0.0   4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   2.0   2.0

In [15]:
stdc.calculate_unreduced_positions()

id1                                                                                                     L1_0  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.197112
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.151714
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.280555
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.269557
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.196303
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.138861
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.241079
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.265222
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.315069
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.134957
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.116326
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.237976
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.239895
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.271064

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.197112
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.097185
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.150133
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.208501
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.150050
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.209014
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.154142
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.188852
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.178032
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.207873
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.166105
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.198056
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.088629
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.205989

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.151714
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.097185
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.118835
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.306384
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.140687
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.172126
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.211354
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.202591
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.242514
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.179390
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.225707
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.225306
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.159654
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.279626

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.280555
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.150133
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.118835
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.000000
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.312601
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.240648
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.281795
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.235140
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.249252
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.294306
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.277560
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.301710
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.229094
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.242773
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.277511

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.269557
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.208501
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.306384
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.312601
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.000000
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.247558
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.246583
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.256115
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.337267
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.343128
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.235817
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.239475
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.195823
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.135291
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.166659

id1                                                                                                     L1_1  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.196303
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.150050
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.140687
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.240648
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.247558
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.146151
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.160620
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.204605
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.281118
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.208219
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.234458
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.227226
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.111967
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.226401

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.138861
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.209014
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.172126
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.281795
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.246583
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.146151
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.250724
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.250724
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.313836
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.147384
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.260737
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.267828
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.234932
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.236075

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.241079
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.154142
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.211354
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.235140
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.256115
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.160620
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.250724
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.180272
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.279159
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.322897
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.169387
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.161276
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.149780
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.194133

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.265222
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.188852
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.202591
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.249252
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.337267
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.204605
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.250724
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.180272
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.000000
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.219089
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.316223
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.198531
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.198115
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.249190
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.217291

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.315069
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.178032
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.242514
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.294306
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.343128
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.281118
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.313836
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.279159
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.219089
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.000000
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.279269
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.222136
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.282319
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.289960
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.188214

id1                                                                                                     L1_2  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.134957
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.207873
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.179390
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.277560
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.235817
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.208219
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.147384
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.322897
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.316223
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.279269
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.255291

In [16]:
# get relative matrix
stdc.calculate_positions()

id1                                                                                                     L1_0  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.197112
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.151714
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.280555
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.269557
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.196303
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.138861
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.241079
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.265222
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.315069
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.134957
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.116326
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.237976
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.239895
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.271064

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.197112
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.097185
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.150133
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.208501
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.150050
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.209014
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.154142
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.188852
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.178032
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.207873
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.166105
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.198056
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.088629
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.205989

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.151714
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.097185
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.118835
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.306384
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.140687
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.172126
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.211354
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.202591
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.242514
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.179390
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.225707
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.225306
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.159654
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.279626

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.280555
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.150133
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.118835
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.000000
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.312601
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.240648
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.281795
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.235140
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.249252
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.294306
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.277560
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.301710
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.229094
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.242773
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.277511

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.269557
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.208501
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.306384
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.312601
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.000000
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.247558
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.246583
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.256115
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.337267
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.343128
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.235817
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.239475
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.195823
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.135291
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.166659

id1                                                                                                     L1_1  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.196303
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.150050
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.140687
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.240648
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.247558
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.146151
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.160620
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.204605
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.281118
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.208219
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.234458
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.227226
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.111967
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.226401

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.138861
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.209014
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.172126
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.281795
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.246583
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.146151
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.250724
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.250724
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.313836
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.147384
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.260737
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.267828
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.234932
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.236075

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.241079
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.154142
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.211354
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.235140
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.256115
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.160620
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.250724
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.180272
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.279159
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.322897
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.169387
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.161276
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.149780
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.194133

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.265222
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.188852
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.202591
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.249252
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.337267
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.204605
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.250724
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.180272
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.000000
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.219089
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.316223
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.198531
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.198115
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.249190
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.217291

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.315069
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.178032
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.242514
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.294306
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.343128
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.281118
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.313836
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.279159
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.219089
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.000000
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.279269
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.222136
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.282319
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.289960
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.188214

id1                                                                                                     L1_2  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.134957
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.207873
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.179390
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.277560
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.235817
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.208219
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.147384
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.322897
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.316223
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.279269
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.255291