In [1]:
from STDC import STDC

In [2]:
# initialize class
stdc = STDC(dimensions=2, comparison= 'absolute')

In [3]:
stdc.calculate_aligned_reduced_positions()

                       0         1
id1  t1   t2
L1_0 2020 2021  0.122142  0.019697
     2021 2022  0.053531  0.095020
     2022 2023  0.105144  0.090748
     2023 2024 -0.139902  0.028625
L1_1 2020 2021 -0.210215  0.011133
     2021 2022  0.030280 -0.039321
     2022 2023  0.228446 -0.012554
     2023 2024  0.043560  0.067646
L1_2 2020 2021  0.047426 -0.155237
     2021 2022 -0.081191  0.078221
     2022 2023 -0.188053 -0.055949
     2023 2024  0.053012 -0.076254

In [4]:
stdc.calculate_velocities()

                       0         1
id1  t1   t2
L1_0 2020 2021 -0.339135  0.127551
     2021 2022  0.201913  0.023095
     2022 2023 -0.098686 -0.031640
     2023 2024 -0.391407 -0.092606
L1_1 2020 2021  0.027418 -0.139213
     2021 2022  0.453572  0.038304
     2022 2023 -0.057240  0.015230
     2023 2024 -0.312532  0.145171
L1_2 2020 2021  0.067582  0.378597
     2021 2022 -0.324815  0.088320
     2022 2023  0.111091 -0.356660
     2023 2024  0.371039  0.316049

In [5]:
stdc.reduced_positions.groupby('timeframe').agg(['mean', 'var'])

                  0                   1
               mean       var      mean       var
timeframe
2020       0.027140  0.066606 -0.102625  0.047786
2021      -0.054238  0.019317  0.019687  0.005192
2022       0.055985  0.069943  0.069593  0.006106
2023       0.041040  0.027775 -0.054763  0.025764
2024      -0.069927  0.083781  0.068108  0.006374