In [1]:
from STDC import STDC

In [2]:
# initialize class
stdc = STDC(dimensions=2, comparison= 'absolute')

In [3]:
stdc.calculate_aligned_reduced_positions()

                       0         1
id1  t1   t2
L1_0 2020 2021 -0.278923  0.078701
     2021 2022 -0.177283  0.078264
     2022 2023 -0.062476  0.001467
     2023 2024 -0.123178 -0.095256
L1_1 2020 2021  0.082406 -0.109849
     2021 2022 -0.026345 -0.102898
     2022 2023  0.033523 -0.149641
     2023 2024  0.098455  0.037359
L1_2 2020 2021 -0.018895 -0.063960
     2021 2022  0.206354 -0.060049
     2022 2023  0.243174  0.116436
     2023 2024  0.212249  0.148544

In [4]:
stdc.calculate_velocities()

                       0         1
id1  t1   t2
L1_0 2020 2021  0.191063  0.005013
     2021 2022  0.012216 -0.005887
     2022 2023  0.217399 -0.147708
     2023 2024 -0.338801 -0.045737
L1_1 2020 2021 -0.115213  0.015088
     2021 2022 -0.102289 -0.001186
     2022 2023  0.222025 -0.092300
     2023 2024 -0.092162  0.466300
L1_2 2020 2021  0.254337 -0.186463
     2021 2022  0.196162  0.194285
     2022 2023 -0.122522  0.158686
     2023 2024  0.060673 -0.094470

In [5]:
stdc.reduced_positions.groupby('timeframe').agg(['mean', 'var'])

                  0                   1
               mean       var      mean       var
timeframe
2020      -0.126835  0.066446 -0.003976  0.010198
2021      -0.016773  0.022563 -0.059430  0.015587
2022       0.018590  0.063475  0.002974  0.008866
2023       0.124224  0.004912 -0.024133  0.040078
2024       0.000794  0.073595  0.084564  0.037969