In [14]:
from STDC import STDC

In [15]:
# initialize class
stdc = STDC(time_type='intrinsic', timeframe= 10, dimensions=2)

In [16]:
stdc.raw_data

      id1    id2                  timestamp
0    L1_1  L2_18 2020-01-02 00:43:31.127124
1    L1_2   L2_0 2020-01-02 07:53:23.114100
2    L1_0  L2_13 2020-01-03 20:17:08.499984
3    L1_1  L2_16 2020-01-04 05:25:46.186075
4    L1_2  L2_12 2020-01-06 00:25:58.672520
..    ...    ...                        ...
995  L1_2   L2_5 2024-12-17 18:28:13.328798
996  L1_2   L2_0 2024-12-21 13:32:02.567768
997  L1_1   L2_7 2024-12-22 16:29:44.939080
998  L1_0   L2_0 2024-12-25 05:51:38.198685
999  L1_2  L2_15 2024-12-25 12:18:35.615281

[1000 rows x 3 columns]

In [17]:
stdc.calculate_velocities()

Explained variance ratio: [0.51372506 0.424937  ]

                   0         1
id1  t1 t2
L1_0 0  1  -0.052873  0.192936
     1  2   0.091579 -0.334175
     2  3  -0.035498  0.129535
     3  4  -0.126196 -0.371660
     4  5   0.141053  0.317449
...              ...       ...
L1_2 94 95 -0.210164 -0.635934
     95 96  0.297881  0.272309
     96 97 -0.297881 -0.272309
     97 98  0.140423  0.128368
     98 99 -0.151148  0.091011

[295 rows x 2 columns]

In [18]:
stdc.biadjacency_matrix

id2             L2_0  L2_1  L2_10  L2_11  L2_12  L2_13  L2_14  L2_15  L2_16  \
id1  timeframe
L1_0 0           0.0   0.0    0.0    0.0    0.0    1.0    1.0    0.0    0.0
     1           0.0   0.0    0.0    0.0    0.0    0.0    0.0    2.0    0.0
     2           1.0   0.0    0.0    0.0    0.0    0.0    1.0    0.0    0.0
     3           0.0   0.0    0.0    0.0    0.0    1.0    1.0    1.0    1.0
     4           0.0   1.0    0.0    0.0    0.0    0.0    0.0    0.0    1.0
...              ...   ...    ...    ...    ...    ...    ...    ...    ...
L1_2 95          0.0   0.0    0.0    0.0    0.0    0.0    1.0    0.0    0.0
     96          0.0   0.0    0.0    1.0    0.0    0.0    1.0    0.0    0.0
     97          0.0   1.0    0.0    0.0    0.0    0.0    0.0    1.0    0.0
     98          0.0   0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0
     99          1.0   0.0    0.0    0.0    0.0    0.0    0.0    1.0    0.0

id2             L2_17  L2_18  L2_19  L2_2  L2_3  L2_4  L2_5  L2_6  L2_7  L2_8  \
id1  timeframe
L1_0 0            0.0    0.0    1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     1            0.0    1.0    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     2            0.0    0.0    0.0   1.0   0.0   1.0   1.0   1.0   0.0   0.0
     3            0.0    0.0    0.0   2.0   0.0   0.0   0.0   0.0   0.0   0.0
     4            0.0    0.0    0.0   0.0   0.0   1.0   0.0   0.0   1.0   0.0
...               ...    ...    ...   ...   ...   ...   ...   ...   ...   ...
L1_2 95           0.0    0.0    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     96           0.0    0.0    0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
     97           0.0    0.0    0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
     98           0.0    0.0    0.0   1.0   0.0   0.0   0.0   1.0   0.0   0.0
     99           0.0    1.0    0.0   0.0   0.0   0.0   1.0   0.0   0.0   1.0

id2             L2_9
id1  timeframe
L1_0 0           0.0
     1           0.0
     2           0.0
     3           0.0
     4           1.0
...              ...
L1_2 95          0.0
     96          1.0
     97          0.0
     98          0.0
     99          0.0

[298 rows x 20 columns]

In [19]:
stdc.positions

id1                 L1_0      L1_1      L1_2
id1  timeframe
L1_0 0          0.000000  1.000000  0.764298
L1_1 0          1.000000  0.000000  1.000000
L1_2 0          0.764298  1.000000  0.000000
L1_0 1          0.000000  1.000000  1.000000
L1_1 1          1.000000  0.000000  1.000000
...                  ...       ...       ...
     98         1.000000  0.000000  1.000000
L1_2 98         0.764298  1.000000  0.000000
L1_0 99         0.000000  1.000000  0.683772
L1_1 99         1.000000  0.000000  0.741801
L1_2 99         0.683772  0.741801  0.000000

[298 rows x 3 columns]

In [20]:
stdc.raw_data

      id1    id2                  timestamp  timeframe
0    L1_1  L2_18 2020-01-02 00:43:31.127124          0
1    L1_2   L2_0 2020-01-02 07:53:23.114100          0
2    L1_0  L2_13 2020-01-03 20:17:08.499984          0
3    L1_1  L2_16 2020-01-04 05:25:46.186075          0
4    L1_2  L2_12 2020-01-06 00:25:58.672520          0
..    ...    ...                        ...        ...
995  L1_2   L2_5 2024-12-17 18:28:13.328798         99
996  L1_2   L2_0 2024-12-21 13:32:02.567768         99
997  L1_1   L2_7 2024-12-22 16:29:44.939080         99
998  L1_0   L2_0 2024-12-25 05:51:38.198685         99
999  L1_2  L2_15 2024-12-25 12:18:35.615281         99

[1000 rows x 4 columns]

In [21]:
stdc.calculate_timeframe()

      id1    id2                  timestamp  timeframe
0    L1_1  L2_18 2020-01-02 00:43:31.127124          0
1    L1_2   L2_0 2020-01-02 07:53:23.114100          0
2    L1_0  L2_13 2020-01-03 20:17:08.499984          0
3    L1_1  L2_16 2020-01-04 05:25:46.186075          0
4    L1_2  L2_12 2020-01-06 00:25:58.672520          0
..    ...    ...                        ...        ...
995  L1_2   L2_5 2024-12-17 18:28:13.328798         99
996  L1_2   L2_0 2024-12-21 13:32:02.567768         99
997  L1_1   L2_7 2024-12-22 16:29:44.939080         99
998  L1_0   L2_0 2024-12-25 05:51:38.198685         99
999  L1_2  L2_15 2024-12-25 12:18:35.615281         99

[1000 rows x 4 columns]

In [22]:
stdc.calculate_biadjacency_matrix()

id2             L2_0  L2_1  L2_10  L2_11  L2_12  L2_13  L2_14  L2_15  L2_16  \
id1  timeframe
L1_0 0           0.0   0.0    0.0    0.0    0.0    1.0    1.0    0.0    0.0
     1           0.0   0.0    0.0    0.0    0.0    0.0    0.0    2.0    0.0
     2           1.0   0.0    0.0    0.0    0.0    0.0    1.0    0.0    0.0
     3           0.0   0.0    0.0    0.0    0.0    1.0    1.0    1.0    1.0
     4           0.0   1.0    0.0    0.0    0.0    0.0    0.0    0.0    1.0
...              ...   ...    ...    ...    ...    ...    ...    ...    ...
L1_2 95          0.0   0.0    0.0    0.0    0.0    0.0    1.0    0.0    0.0
     96          0.0   0.0    0.0    1.0    0.0    0.0    1.0    0.0    0.0
     97          0.0   1.0    0.0    0.0    0.0    0.0    0.0    1.0    0.0
     98          0.0   0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0
     99          1.0   0.0    0.0    0.0    0.0    0.0    0.0    1.0    0.0

id2             L2_17  L2_18  L2_19  L2_2  L2_3  L2_4  L2_5  L2_6  L2_7  L2_8  \
id1  timeframe
L1_0 0            0.0    0.0    1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     1            0.0    1.0    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     2            0.0    0.0    0.0   1.0   0.0   1.0   1.0   1.0   0.0   0.0
     3            0.0    0.0    0.0   2.0   0.0   0.0   0.0   0.0   0.0   0.0
     4            0.0    0.0    0.0   0.0   0.0   1.0   0.0   0.0   1.0   0.0
...               ...    ...    ...   ...   ...   ...   ...   ...   ...   ...
L1_2 95           0.0    0.0    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
     96           0.0    0.0    0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
     97           0.0    0.0    0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
     98           0.0    0.0    0.0   1.0   0.0   0.0   0.0   1.0   0.0   0.0
     99           0.0    1.0    0.0   0.0   0.0   0.0   1.0   0.0   0.0   1.0

id2             L2_9
id1  timeframe
L1_0 0           0.0
     1           0.0
     2           0.0
     3           0.0
     4           1.0
...              ...
L1_2 95          0.0
     96          1.0
     97          0.0
     98          0.0
     99          0.0

[298 rows x 20 columns]

In [23]:
stdc.calculate_positions()

id1                 L1_0      L1_1      L1_2
id1  timeframe
L1_0 0          0.000000  1.000000  0.764298
L1_1 0          1.000000  0.000000  1.000000
L1_2 0          0.764298  1.000000  0.000000
L1_0 1          0.000000  1.000000  1.000000
L1_1 1          1.000000  0.000000  1.000000
...                  ...       ...       ...
     98         1.000000  0.000000  1.000000
L1_2 98         0.764298  1.000000  0.000000
L1_0 99         0.000000  1.000000  0.683772
L1_1 99         1.000000  0.000000  0.741801
L1_2 99         0.683772  0.741801  0.000000

[298 rows x 3 columns]

In [24]:
# get relative matrix
stdc.calculate_reduced_positions()

Explained variance ratio: [0.51372506 0.424937  ]

                       0         1
id1  timeframe
L1_0 0          0.614996  0.406411
L1_1 0         -0.804838  0.237358
L1_2 0          0.331104 -0.635461
L1_0 1          0.562124  0.599347
L1_1 1         -0.804838  0.237358
...                  ...       ...
     98        -0.804838  0.237358
L1_2 98         0.331104 -0.635461
L1_0 99         0.633060  0.340496
L1_1 99        -0.746918  0.026008
L1_2 99         0.179956 -0.544451

[298 rows x 2 columns]

In [25]:
print(stdc.raw_data['timeframe'])

0       0
1       0
2       0
3       0
4       0
       ..
995    99
996    99
997    99
998    99
999    99
Name: timeframe, Length: 1000, dtype: int64