In [15]:
from STDC import STDC

In [16]:
# initialize class
stdc = STDC(timeframe='Y')

# store data
data = stdc.data()

In [17]:
# view data
stdc.view()

    id1    id2                  timestamp
0  L1_1  L2_17 2020-01-01 12:09:11.174155
1  L1_1  L2_13 2020-01-02 22:10:39.685349
2  L1_1  L2_12 2020-01-03 15:35:46.652641
3  L1_1   L2_0 2020-01-05 10:15:30.375598
4  L1_0  L2_18 2020-01-05 12:04:41.543185

In [18]:
#stdc.view_biadjacency_matrix()

In [19]:
stdc.calculate_positions(data, comparison='absolute')

id1                                                                                                     L1_0  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.145580
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.172548
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.156075
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.161257
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.227551
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.166373
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.245078
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.203319
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.234030
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.322728
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.109157
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.251939
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.138634
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.167502

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.145580
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.165657
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.270489
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.299470
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.184500
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.250711
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.288811
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.266877
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.331465
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.277194
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.153505
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.274872
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.214784
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.251660

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.172548
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.165657
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.287768
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.269036
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.187053
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.240157
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.241788
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.203974
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.268433
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.242505
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.242699
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.261373
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.125033
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.168161

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.156075
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.270489
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.287768
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.000000
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.313137
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.296493
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.200683
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.230725
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.338211
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.326775
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.418934
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.318332
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.319800
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.347025
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.191633

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.161257
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.299470
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.269036
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.313137
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.000000
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.251750
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.157468
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.182817
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.203616
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.300335
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.274092
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.210169
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.241106
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.232316
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.173536

id1                                                                                                     L1_1  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.227551
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.184500
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.187053
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.296493
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.251750
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.197173
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.286675
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.149082
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.369860
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.250647
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.151498
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.291203
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.314131
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.221675

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.166373
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.250711
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.240157
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.200683
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.157468
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.197173
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.182320
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.177440
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.186715
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.370584
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.177164
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.286698
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.292580
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.150758

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.245078
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.288811
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.241788
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.230725
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.182817
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.286675
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.182320
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.320083
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.302018
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.222704
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.281634
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.238947
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.314586
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.155560

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.203319
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.266877
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.203974
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.338211
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.203616
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.149082
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.177440
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.320083
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.000000
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.269412
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.334094
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.183225
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.240076
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.272285
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.212499

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.234030
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.331465
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.268433
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.326775
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.300335
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.369860
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.186715
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.302018
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.269412
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.000000
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.479163
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.219101
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.265774
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.249269
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.232857

id1                                                                                                     L1_2  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.322728
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.277194
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.242505
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.418934
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.274092
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.250647
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.370584
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.222704
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.334094
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.479163
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.252105

In [20]:
stdc.view_biadjacency_matrix()

id2                                                      L2_0  L2_1  L2_10  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   6.0   2.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   5.0   3.0    2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   2.0    2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   0.0   2.0    1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   4.0   3.0    5.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   4.0   2.0    4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   3.0   2.0    3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   2.0    6.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   4.0   4.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   1.0   2.0    3.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   4.0   2.0    6.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   6.0   3.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   4.0   3.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   2.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   1.0   2.0    6.0

id2                                                      L2_11  L2_12  L2_13  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    6.0    3.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    5.0    2.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    3.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    6.0    4.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    3.0    4.0    1.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    2.0    7.0    4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    5.0    7.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    4.0    1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    0.0    9.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    1.0    2.0    5.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    3.0    1.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    3.0    3.0    3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    1.0    1.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    3.0    1.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    5.0    5.0    1.0

id2                                                      L2_14  L2_15  L2_16  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    5.0    8.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    4.0    2.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    4.0    1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    4.0    3.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    4.0    1.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    8.0    2.0    4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    2.0    4.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    3.0    3.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    4.0    3.0    1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    0.0    5.0    7.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    9.0    1.0    0.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    6.0    6.0    6.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    3.0    2.0    0.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    5.0    7.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    3.0    4.0    4.0

id2                                                      L2_17  L2_18  L2_19  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    2.0    4.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    3.0    2.0    1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    3.0    5.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    0.0    4.0    4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    2.0    1.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    6.0    1.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    2.0    3.0    2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    1.0    5.0    1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    4.0    4.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    2.0    5.0    2.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    6.0    7.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    4.0    4.0    1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    5.0    2.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    2.0    5.0    6.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    3.0    5.0    6.0

id2                                                      L2_2  L2_3  L2_4  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   6.0   5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   3.0   4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   5.0   4.0   7.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   2.0   2.0   5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   3.0   6.0   2.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   5.0   1.0   7.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   2.0   3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   2.0   3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   4.0   4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   2.0   5.0   4.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   1.0   2.0   2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   2.0   3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   2.0   2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   4.0   7.0   2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   6.0   3.0   2.0

id2                                                      L2_5  L2_6  L2_7  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   7.0   3.0   5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   0.0   6.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   1.0   1.0   3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...  11.0   6.0   4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   2.0   8.0   3.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   5.0   2.0   2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   3.0   6.0   1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   7.0   1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   2.0   1.0   3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   1.0   3.0   1.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   3.0   1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   1.0   3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   1.0   3.0   2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   2.0   1.0   4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   4.0   4.0   4.0

id2                                                      L2_8  L2_9
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   6.0   2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   1.0   4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   1.0   4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   7.0   5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   3.0   1.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   8.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   5.0   1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   7.0   2.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   0.0   5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   0.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   7.0   6.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   1.0   2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   4.0   3.0

In [21]:
stdc.compute_relative_matrix()

,id1,L1_0,L1_1,L1_2
id1,timeframe,,,
L1_0,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.000000,0.227551,0.322728
L1_1,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.227551,0.000000,0.250647
L1_2,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.322728,0.250647,0.000000
L1_0,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.000000,0.250711,0.153505
L1_1,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.250711,0.000000,0.177164
L1_2,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.153505,0.177164,0.000000
L1_0,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.000000,0.241788,0.261373
L1_1,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.241788,0.000000,0.238947
L1_2,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.261373,0.238947,0.000000
L1_0,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.000000,0.338211,0.347025
L1_1,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.338211,0.000000,0.272285
L1_2,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.347025,0.272285,0.000000
L1_0,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.000000,0.300335,0.173536
L1_1,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.300335,0.000000,0.232857
L1_2,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.173536,0.232857,0.000000

In [22]:
# biadjacency matrix
stdc.compute_biadjacency_matrix(raw_data=data, leader_col=stdc.leader_col, follower_col=stdc.follower_col)

id2                                                      L2_0  L2_1  L2_10  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   6.0   2.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   5.0   3.0    2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   2.0    2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   0.0   2.0    1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   4.0   3.0    5.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   4.0   2.0    4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   3.0   2.0    3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   2.0    6.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   4.0   4.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   1.0   2.0    3.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   4.0   2.0    6.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   6.0   3.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   4.0   3.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   2.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   1.0   2.0    6.0

id2                                                      L2_11  L2_12  L2_13  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    6.0    3.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    5.0    2.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    3.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    6.0    4.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    3.0    4.0    1.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    2.0    7.0    4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    5.0    7.0    5.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    4.0    1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    0.0    9.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    1.0    2.0    5.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    3.0    1.0    3.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    3.0    3.0    3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    1.0    1.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    3.0    1.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    5.0    5.0    1.0

id2                                                      L2_14  L2_15  L2_16  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    5.0    8.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    4.0    2.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    4.0    4.0    1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    4.0    3.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    4.0    1.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    8.0    2.0    4.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    2.0    4.0    4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    3.0    3.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    4.0    3.0    1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    0.0    5.0    7.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    9.0    1.0    0.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    6.0    6.0    6.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    3.0    2.0    0.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    5.0    7.0    3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    3.0    4.0    4.0

id2                                                      L2_17  L2_18  L2_19  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    2.0    4.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    3.0    2.0    1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    3.0    5.0    4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    0.0    4.0    4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    4.0    2.0    1.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    6.0    1.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    2.0    3.0    2.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    1.0    5.0    1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    4.0    4.0    2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    2.0    5.0    2.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...    6.0    7.0    2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...    4.0    4.0    1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...    5.0    2.0    3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...    2.0    5.0    6.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...    3.0    5.0    6.0

id2                                                      L2_2  L2_3  L2_4  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   3.0   6.0   5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   3.0   4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   5.0   4.0   7.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   2.0   2.0   5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   3.0   6.0   2.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   5.0   1.0   7.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   2.0   3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   2.0   3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   3.0   4.0   4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   2.0   5.0   4.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   1.0   2.0   2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   2.0   2.0   3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   2.0   2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   4.0   7.0   2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   6.0   3.0   2.0

id2                                                      L2_5  L2_6  L2_7  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   7.0   3.0   5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   0.0   6.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   1.0   1.0   3.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...  11.0   6.0   4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   2.0   8.0   3.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   5.0   2.0   2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   3.0   6.0   1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   3.0   7.0   1.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   2.0   1.0   3.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   1.0   3.0   1.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   3.0   1.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   1.0   3.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   1.0   3.0   2.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   2.0   1.0   4.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   4.0   4.0   4.0

id2                                                      L2_8  L2_9
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   6.0   2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   1.0   4.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   1.0   4.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   7.0   5.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   3.0   1.0
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   2.0   2.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   1.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   2.0   8.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   5.0   1.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   7.0   2.0
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...   0.0   5.0
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...   4.0   0.0
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...   7.0   6.0
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...   1.0   2.0
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...   4.0   3.0

In [23]:
# get relative matrix
stdc.get_relative_matrix()

,id1,L1_0,L1_1,L1_2
id1,timeframe,,,
L1_0,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.000000,0.227551,0.322728
L1_1,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.227551,0.000000,0.250647
L1_2,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999,0.322728,0.250647,0.000000
L1_0,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.000000,0.250711,0.153505
L1_1,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.250711,0.000000,0.177164
L1_2,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999,0.153505,0.177164,0.000000
L1_0,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.000000,0.241788,0.261373
L1_1,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.241788,0.000000,0.238947
L1_2,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999,0.261373,0.238947,0.000000
L1_0,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.000000,0.338211,0.347025
L1_1,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.338211,0.000000,0.272285
L1_2,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999,0.347025,0.272285,0.000000
L1_0,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.000000,0.300335,0.173536
L1_1,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.300335,0.000000,0.232857
L1_2,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999,0.173536,0.232857,0.000000

In [24]:
# get absolute matrix
stdc.get_absolute_matrix()

id1                                                                                                     L1_0  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.145580
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.172548
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.156075
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.161257
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.227551
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.166373
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.245078
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.203319
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.234030
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.322728
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.109157
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.251939
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.138634
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.167502

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.145580
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.165657
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.270489
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.299470
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.184500
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.250711
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.288811
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.266877
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.331465
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.277194
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.153505
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.274872
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.214784
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.251660

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.172548
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.165657
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.287768
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.269036
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.187053
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.240157
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.241788
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.203974
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.268433
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.242505
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.242699
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.261373
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.125033
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.168161

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.156075
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.270489
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.287768
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.000000
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.313137
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.296493
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.200683
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.230725
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.338211
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.326775
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.418934
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.318332
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.319800
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.347025
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.191633

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.161257
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.299470
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.269036
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.313137
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.000000
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.251750
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.157468
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.182817
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.203616
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.300335
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.274092
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.210169
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.241106
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.232316
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.173536

id1                                                                                                     L1_1  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.227551
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.184500
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.187053
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.296493
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.251750
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.197173
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.286675
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.149082
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.369860
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.250647
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.151498
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.291203
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.314131
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.221675

id1                                                                                                           \
timeframe                                               2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.166373
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.250711
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.240157
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.200683
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.157468
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.197173
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.000000
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.182320
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.177440
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.186715
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.370584
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.177164
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.286698
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.292580
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.150758

id1                                                                                                           \
timeframe                                               2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.245078
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.288811
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.241788
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.230725
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.182817
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.286675
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.182320
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.000000
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.320083
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.302018
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.222704
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.281634
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.238947
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.314586
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.155560

id1                                                                                                           \
timeframe                                               2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.203319
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.266877
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.203974
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.338211
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.203616
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.149082
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.177440
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.320083
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.000000
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.269412
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.334094
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.183225
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.240076
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.272285
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.212499

id1                                                                                                           \
timeframe                                               2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.234030
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.331465
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.268433
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.326775
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.300335
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.369860
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.186715
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.302018
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.269412
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.000000
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.479163
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.219101
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.265774
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.249269
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.232857

id1                                                                                                     L1_2  \
timeframe                                               2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.322728
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.277194
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.242505
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.418934
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.274092
L1_1 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.250647
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.370584
     2022-01-01 00:00:00 to 2022-12-31 23:59:59.9999...                                           0.222704
     2023-01-01 00:00:00 to 2023-12-31 23:59:59.9999...                                           0.334094
     2024-01-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.479163
L1_2 2020-01-01 00:00:00 to 2020-12-31 23:59:59.9999...                                           0.000000
     2021-01-01 00:00:00 to 2021-12-31 23:59:59.9999...                                           0.252105

In [25]:
# unique timeframes
stdc.get_unique_timeframes(data)

array(['2020-01-01 00:00:00 to 2020-12-31 23:59:59.999999999',
       '2021-01-01 00:00:00 to 2021-12-31 23:59:59.999999999',
       '2022-01-01 00:00:00 to 2022-12-31 23:59:59.999999999',
       '2023-01-01 00:00:00 to 2023-12-31 23:59:59.999999999',
       '2024-01-01 00:00:00 to 2024-12-31 23:59:59.999999999'],
      dtype=object)

In [26]:
# unique entities
stdc.get_unique_entities(data)

array(['L1_1', 'L1_0', 'L1_2'], dtype=object)

In [27]:
stdc.calculate_velocities()

,Node,t1,t2,Velocity
0,L1_0,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,0.145580
1,L1_1,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,0.197173
2,L1_2,2020-01-01 00:00:00 to 2020-12-31 23:59:59.999...,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,0.252105
3,L1_0,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,0.165657
4,L1_1,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,0.182320
5,L1_2,2021-01-01 00:00:00 to 2021-12-31 23:59:59.999...,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,0.270093
6,L1_0,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,0.287768
7,L1_1,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,0.320083
8,L1_2,2022-01-01 00:00:00 to 2022-12-31 23:59:59.999...,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,0.317440
9,L1_0,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...,0.313137
10,L1_1,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...,0.269412
11,L1_2,2023-01-01 00:00:00 to 2023-12-31 23:59:59.999...,2024-01-01 00:00:00 to 2024-12-31 23:59:59.999...,0.154074