In [1]:
from STDC import STDC

In [2]:
# initialize class
stdc = STDC(timeframe='M', field_names=['id1', 'id2', 'timestamp'], time_type='actual', comparison='absolute')

In [3]:
stdc.calculate_velocities()

,Node,t1,t2,Velocity
0,L1_0,2020-01-01 00:00:00 to 2020-01-31 23:59:59.999...,2020-02-01 00:00:00 to 2020-02-29 23:59:59.999...,0.031760
1,L1_1,2020-01-01 00:00:00 to 2020-01-31 23:59:59.999...,2020-02-01 00:00:00 to 2020-02-29 23:59:59.999...,0.059241
2,L1_2,2020-01-01 00:00:00 to 2020-01-31 23:59:59.999...,2020-02-01 00:00:00 to 2020-02-29 23:59:59.999...,0.047994
3,L1_0,2020-02-01 00:00:00 to 2020-02-29 23:59:59.999...,2020-03-01 00:00:00 to 2020-03-31 23:59:59.999...,0.060251
4,L1_1,2020-02-01 00:00:00 to 2020-02-29 23:59:59.999...,2020-03-01 00:00:00 to 2020-03-31 23:59:59.999...,0.048692
...,...,...,...,...
172,L1_1,2024-10-01 00:00:00 to 2024-10-31 23:59:59.999...,2024-11-01 00:00:00 to 2024-11-30 23:59:59.999...,0.067482
173,L1_2,2024-10-01 00:00:00 to 2024-10-31 23:59:59.999...,2024-11-01 00:00:00 to 2024-11-30 23:59:59.999...,0.025597
174,L1_0,2024-11-01 00:00:00 to 2024-11-30 23:59:59.999...,2024-12-01 00:00:00 to 2024-12-31 23:59:59.999...,0.068054
175,L1_1,2024-11-01 00:00:00 to 2024-11-30 23:59:59.999...,2024-12-01 00:00:00 to 2024-12-31 23:59:59.999...,0.072243
176,L1_2,2024-11-01 00:00:00 to 2024-11-30 23:59:59.999...,2024-12-01 00:00:00 to 2024-12-31 23:59:59.999...,0.059961

In [4]:
stdc.biadjacency_matrix

id2                                                      L2_0  L2_1  L2_10  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...   0.0   0.0    0.0
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...   1.0   0.0    0.0
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...   0.0   0.0    1.0
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...   0.0   0.0    0.0
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...   0.0   0.0    0.0
...                                                       ...   ...    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...   0.0   0.0    0.0
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...   0.0   0.0    0.0
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...   0.0   0.0    0.0
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...   0.0   0.0    0.0
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...   0.0   0.0    0.0

id2                                                      L2_11  L2_12  L2_13  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...    0.0    2.0    0.0
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...    1.0    2.0    0.0
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...    0.0    0.0    0.0
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...    0.0    0.0    2.0
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...    0.0    1.0    0.0
...                                                        ...    ...    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...    0.0    0.0    0.0
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...    0.0    1.0    0.0
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...    0.0    0.0    0.0
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...    0.0    0.0    0.0
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...    1.0    0.0    0.0

id2                                                      L2_14  L2_15  L2_16  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...    0.0    0.0    0.0
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...    0.0    0.0    1.0
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...    0.0    1.0    0.0
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...    1.0    0.0    2.0
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...    0.0    1.0    0.0
...                                                        ...    ...    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...    0.0    0.0    1.0
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...    0.0    0.0    0.0
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...    0.0    0.0    0.0
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...    1.0    0.0    0.0
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...    0.0    0.0    1.0

id2                                                      L2_17  L2_18  L2_19  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...    0.0    0.0    0.0
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...    1.0    0.0    0.0
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...    0.0    0.0    0.0
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...    1.0    0.0    0.0
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...    0.0    0.0    0.0
...                                                        ...    ...    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...    1.0    1.0    0.0
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...    0.0    0.0    0.0
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...    0.0    0.0    0.0
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...    0.0    0.0    0.0
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...    0.0    0.0    1.0

id2                                                      L2_2  L2_3  L2_4  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...   0.0   0.0   0.0
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...   1.0   0.0   0.0
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...   0.0   0.0   0.0
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...   0.0   0.0   0.0
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...   0.0   1.0   1.0
...                                                       ...   ...   ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...   1.0   0.0   0.0
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...   0.0   0.0   1.0
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...   0.0   1.0   0.0
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...   0.0   0.0   0.0
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...   0.0   0.0   0.0

id2                                                      L2_5  L2_6  L2_7  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...   1.0   1.0   1.0
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...   0.0   0.0   0.0
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...   0.0   0.0   2.0
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...   0.0   1.0   0.0
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...   0.0   2.0   0.0
...                                                       ...   ...   ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...   0.0   1.0   0.0
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...   0.0   1.0   0.0
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...   0.0   0.0   1.0
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...   0.0   0.0   0.0
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...   1.0   0.0   0.0

id2                                                      L2_8  L2_9
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...   0.0   0.0
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...   0.0   0.0
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...   0.0   0.0
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...   0.0   0.0
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...   0.0   1.0
...                                                       ...   ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...   0.0   0.0
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...   0.0   1.0
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...   1.0   0.0
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...   2.0   0.0
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...   0.0   0.0

[179 rows x 20 columns]

In [5]:
stdc.positions

id1                                                                                                     L1_0  \
timeframe                                               2020-01-01 00:00:00 to 2020-01-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.000000
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.496047
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.691393
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.886039
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.496047
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.830969
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.433053
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.781782
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.811018

id1                                                                                                           \
timeframe                                               2020-02-01 00:00:00 to 2020-02-29 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.496047
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.000000
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.698489
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.777778
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.552786
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.666667
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.666667

id1                                                                                                           \
timeframe                                               2020-03-01 00:00:00 to 2020-03-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.691393
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           1.000000
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           1.000000
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.863917
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           1.000000
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           1.000000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.528595
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           1.000000

id1                                                                                                           \
timeframe                                               2020-04-01 00:00:00 to 2020-04-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.886039
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.698489
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.000000
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.798992
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.460640
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.849244
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           0.865160
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.698489

id1                                                                                                           \
timeframe                                               2020-05-01 00:00:00 to 2020-05-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.496047
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.777778
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.863917
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.798992
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.000000
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.701858
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.166667
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.807550
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           1.000000

id1                                                                                                           \
timeframe                                               2020-06-01 00:00:00 to 2020-06-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.830969
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.701858
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.634852
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           1.000000
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.850929
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.800000
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.776393
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.741801
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.776393

id1                                                                                                           \
timeframe                                               2020-07-01 00:00:00 to 2020-07-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.880477
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.683772
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.483602
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.809307
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.789181
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.575736
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.841886
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.817426
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.841886

id1                                                                                                           \
timeframe                                               2020-08-01 00:00:00 to 2020-08-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           1.000000
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.666667
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.795876
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.849244
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           1.000000
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.776393
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           1.000000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           1.000000

id1                                                                                                           \
timeframe                                               2020-09-01 00:00:00 to 2020-09-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           1.000000
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.833333
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.698489
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.833333
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.552786
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           1.000000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.711325
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           1.000000

id1                                                                                                           \
timeframe                                               2020-10-01 00:00:00 to 2020-10-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           1.000000
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.646447
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.466998
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.882149
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.683772
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.823223
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           0.841886
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.823223

id1                                                      ...  \
timeframe                                                ...
id1  timeframe                                           ...
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...  ...
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...  ...
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...  ...
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...  ...
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...  ...
...                                                      ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...  ...
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...  ...
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...  ...
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...  ...
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...  ...

id1                                                                                                     L1_2  \
timeframe                                               2024-03-01 00:00:00 to 2024-03-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.433053
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.500000
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           1.000000
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.833333
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           1.000000
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.750000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.500000

id1                                                                                                           \
timeframe                                               2024-04-01 00:00:00 to 2024-04-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.857143
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.748024
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.845697
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.886039
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.496047
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.830969
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.811018
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.781782
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.622036

id1                                                                                                           \
timeframe                                               2024-05-01 00:00:00 to 2024-05-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.845697
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.863917
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.833333
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.630726
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.863917
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.817426
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           1.000000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.764298
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           0.634852
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.591752

id1                                                                                                           \
timeframe                                               2024-06-01 00:00:00 to 2024-06-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.768545
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.727834
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.916667
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.876909

In [6]:
stdc.raw_data

,id1,id2,timestamp,timeframe
0,L1_2,L2_12,2020-01-02 09:57:56.327556,2020-01-01 00:00:00 to 2020-01-31 23:59:59.999...
1,L1_2,L2_16,2020-01-05 02:13:03.539848,2020-01-01 00:00:00 to 2020-01-31 23:59:59.999...
2,L1_1,L2_9,2020-01-05 14:52:49.874964,2020-01-01 00:00:00 to 2020-01-31 23:59:59.999...
3,L1_2,L2_5,2020-01-06 02:20:11.053249,2020-01-01 00:00:00 to 2020-01-31 23:59:59.999...
4,L1_0,L2_12,2020-01-06 09:34:27.153198,2020-01-01 00:00:00 to 2020-01-31 23:59:59.999...
...,...,...,...,...
995,L1_0,L2_12,2024-12-17 15:56:57.650684,2024-12-01 00:00:00 to 2024-12-31 23:59:59.999...
996,L1_1,L2_16,2024-12-18 20:54:43.514225,2024-12-01 00:00:00 to 2024-12-31 23:59:59.999...
997,L1_1,L2_2,2024-12-28 09:09:58.711979,2024-12-01 00:00:00 to 2024-12-31 23:59:59.999...
998,L1_1,L2_17,2024-12-28 16:10:02.314649,2024-12-01 00:00:00 to 2024-12-31 23:59:59.999...
999,L1_2,L2_19,2024-12-28 20:44:09.848385,2024-12-01 00:00:00 to 2024-12-31 23:59:59.999...

In [7]:
stdc.calculate_timeframe()

,id1,id2,timestamp,timeframe
0,L1_2,L2_12,2020-01-02 09:57:56.327556,2020-01-01 00:00:00 to 2020-01-31 23:59:59.999...
1,L1_2,L2_16,2020-01-05 02:13:03.539848,2020-01-01 00:00:00 to 2020-01-31 23:59:59.999...
2,L1_1,L2_9,2020-01-05 14:52:49.874964,2020-01-01 00:00:00 to 2020-01-31 23:59:59.999...
3,L1_2,L2_5,2020-01-06 02:20:11.053249,2020-01-01 00:00:00 to 2020-01-31 23:59:59.999...
4,L1_0,L2_12,2020-01-06 09:34:27.153198,2020-01-01 00:00:00 to 2020-01-31 23:59:59.999...
...,...,...,...,...
995,L1_0,L2_12,2024-12-17 15:56:57.650684,2024-12-01 00:00:00 to 2024-12-31 23:59:59.999...
996,L1_1,L2_16,2024-12-18 20:54:43.514225,2024-12-01 00:00:00 to 2024-12-31 23:59:59.999...
997,L1_1,L2_2,2024-12-28 09:09:58.711979,2024-12-01 00:00:00 to 2024-12-31 23:59:59.999...
998,L1_1,L2_17,2024-12-28 16:10:02.314649,2024-12-01 00:00:00 to 2024-12-31 23:59:59.999...
999,L1_2,L2_19,2024-12-28 20:44:09.848385,2024-12-01 00:00:00 to 2024-12-31 23:59:59.999...

In [8]:
stdc.calculate_biadjacency_matrix()

id2                                                      L2_0  L2_1  L2_10  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...   0.0   0.0    0.0
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...   1.0   0.0    0.0
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...   0.0   0.0    1.0
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...   0.0   0.0    0.0
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...   0.0   0.0    0.0
...                                                       ...   ...    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...   0.0   0.0    0.0
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...   0.0   0.0    0.0
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...   0.0   0.0    0.0
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...   0.0   0.0    0.0
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...   0.0   0.0    0.0

id2                                                      L2_11  L2_12  L2_13  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...    0.0    2.0    0.0
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...    1.0    2.0    0.0
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...    0.0    0.0    0.0
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...    0.0    0.0    2.0
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...    0.0    1.0    0.0
...                                                        ...    ...    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...    0.0    0.0    0.0
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...    0.0    1.0    0.0
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...    0.0    0.0    0.0
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...    0.0    0.0    0.0
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...    1.0    0.0    0.0

id2                                                      L2_14  L2_15  L2_16  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...    0.0    0.0    0.0
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...    0.0    0.0    1.0
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...    0.0    1.0    0.0
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...    1.0    0.0    2.0
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...    0.0    1.0    0.0
...                                                        ...    ...    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...    0.0    0.0    1.0
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...    0.0    0.0    0.0
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...    0.0    0.0    0.0
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...    1.0    0.0    0.0
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...    0.0    0.0    1.0

id2                                                      L2_17  L2_18  L2_19  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...    0.0    0.0    0.0
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...    1.0    0.0    0.0
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...    0.0    0.0    0.0
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...    1.0    0.0    0.0
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...    0.0    0.0    0.0
...                                                        ...    ...    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...    1.0    1.0    0.0
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...    0.0    0.0    0.0
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...    0.0    0.0    0.0
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...    0.0    0.0    0.0
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...    0.0    0.0    1.0

id2                                                      L2_2  L2_3  L2_4  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...   0.0   0.0   0.0
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...   1.0   0.0   0.0
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...   0.0   0.0   0.0
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...   0.0   0.0   0.0
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...   0.0   1.0   1.0
...                                                       ...   ...   ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...   1.0   0.0   0.0
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...   0.0   0.0   1.0
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...   0.0   1.0   0.0
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...   0.0   0.0   0.0
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...   0.0   0.0   0.0

id2                                                      L2_5  L2_6  L2_7  \
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...   1.0   1.0   1.0
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...   0.0   0.0   0.0
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...   0.0   0.0   2.0
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...   0.0   1.0   0.0
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...   0.0   2.0   0.0
...                                                       ...   ...   ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...   0.0   1.0   0.0
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...   0.0   1.0   0.0
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...   0.0   0.0   1.0
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...   0.0   0.0   0.0
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...   1.0   0.0   0.0

id2                                                      L2_8  L2_9
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...   0.0   0.0
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...   0.0   0.0
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...   0.0   0.0
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...   0.0   0.0
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...   0.0   1.0
...                                                       ...   ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...   0.0   0.0
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...   0.0   1.0
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...   1.0   0.0
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...   2.0   0.0
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...   0.0   0.0

[179 rows x 20 columns]

In [9]:
stdc.calculate_unreduced_positions()

id1                                                                                                     L1_0  \
timeframe                                               2020-01-01 00:00:00 to 2020-01-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.000000
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.496047
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.691393
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.886039
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.496047
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.830969
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.433053
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.781782
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.811018

id1                                                                                                           \
timeframe                                               2020-02-01 00:00:00 to 2020-02-29 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.496047
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.000000
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.698489
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.777778
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.552786
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.666667
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.666667

id1                                                                                                           \
timeframe                                               2020-03-01 00:00:00 to 2020-03-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.691393
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           1.000000
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           1.000000
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.863917
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           1.000000
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           1.000000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.528595
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           1.000000

id1                                                                                                           \
timeframe                                               2020-04-01 00:00:00 to 2020-04-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.886039
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.698489
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.000000
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.798992
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.460640
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.849244
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           0.865160
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.698489

id1                                                                                                           \
timeframe                                               2020-05-01 00:00:00 to 2020-05-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.496047
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.777778
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.863917
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.798992
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.000000
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.701858
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.166667
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.807550
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           1.000000

id1                                                                                                           \
timeframe                                               2020-06-01 00:00:00 to 2020-06-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.830969
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.701858
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.634852
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           1.000000
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.850929
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.800000
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.776393
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.741801
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.776393

id1                                                                                                           \
timeframe                                               2020-07-01 00:00:00 to 2020-07-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.880477
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.683772
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.483602
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.809307
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.789181
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.575736
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.841886
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.817426
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.841886

id1                                                                                                           \
timeframe                                               2020-08-01 00:00:00 to 2020-08-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           1.000000
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.666667
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.795876
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.849244
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           1.000000
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.776393
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           1.000000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           1.000000

id1                                                                                                           \
timeframe                                               2020-09-01 00:00:00 to 2020-09-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           1.000000
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.833333
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.698489
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.833333
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.552786
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           1.000000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.711325
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           1.000000

id1                                                                                                           \
timeframe                                               2020-10-01 00:00:00 to 2020-10-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           1.000000
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.646447
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.466998
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.882149
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.683772
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.823223
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           0.841886
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.823223

id1                                                      ...  \
timeframe                                                ...
id1  timeframe                                           ...
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...  ...
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...  ...
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...  ...
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...  ...
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...  ...
...                                                      ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...  ...
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...  ...
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...  ...
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...  ...
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...  ...

id1                                                                                                     L1_2  \
timeframe                                               2024-03-01 00:00:00 to 2024-03-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.433053
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.500000
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           1.000000
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.833333
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           1.000000
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.750000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.500000

id1                                                                                                           \
timeframe                                               2024-04-01 00:00:00 to 2024-04-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.857143
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.748024
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.845697
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.886039
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.496047
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.830969
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.811018
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.781782
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.622036

id1                                                                                                           \
timeframe                                               2024-05-01 00:00:00 to 2024-05-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.845697
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.863917
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.833333
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.630726
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.863917
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.817426
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           1.000000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.764298
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           0.634852
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.591752

id1                                                                                                           \
timeframe                                               2024-06-01 00:00:00 to 2024-06-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.768545
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.727834
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.916667
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.876909

In [10]:
# get relative matrix
stdc.calculate_positions()

id1                                                                                                     L1_0  \
timeframe                                               2020-01-01 00:00:00 to 2020-01-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.000000
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.496047
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.691393
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.886039
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.496047
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.830969
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.433053
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.781782
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.811018

id1                                                                                                           \
timeframe                                               2020-02-01 00:00:00 to 2020-02-29 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.496047
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.000000
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.698489
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.777778
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.552786
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.666667
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.666667

id1                                                                                                           \
timeframe                                               2020-03-01 00:00:00 to 2020-03-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.691393
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           1.000000
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           1.000000
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.863917
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           1.000000
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           1.000000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.528595
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           1.000000

id1                                                                                                           \
timeframe                                               2020-04-01 00:00:00 to 2020-04-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.886039
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.698489
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.000000
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.798992
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.460640
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.849244
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           0.865160
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.698489

id1                                                                                                           \
timeframe                                               2020-05-01 00:00:00 to 2020-05-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.496047
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.777778
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.863917
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.798992
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.000000
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.701858
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.166667
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.807550
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           1.000000

id1                                                                                                           \
timeframe                                               2020-06-01 00:00:00 to 2020-06-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.830969
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.701858
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.634852
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           1.000000
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.850929
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.800000
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.776393
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.741801
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.776393

id1                                                                                                           \
timeframe                                               2020-07-01 00:00:00 to 2020-07-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.880477
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.683772
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.483602
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.809307
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.789181
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.575736
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.841886
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.817426
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.841886

id1                                                                                                           \
timeframe                                               2020-08-01 00:00:00 to 2020-08-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           1.000000
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.666667
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.795876
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.849244
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           1.000000
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.776393
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           1.000000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           1.000000

id1                                                                                                           \
timeframe                                               2020-09-01 00:00:00 to 2020-09-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           1.000000
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.833333
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.698489
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.833333
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.552786
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           1.000000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.711325
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           1.000000

id1                                                                                                           \
timeframe                                               2020-10-01 00:00:00 to 2020-10-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           1.000000
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.646447
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.466998
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.882149
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.683772
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.823223
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           0.841886
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.823223

id1                                                      ...  \
timeframe                                                ...
id1  timeframe                                           ...
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...  ...
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...  ...
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...  ...
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...  ...
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...  ...
...                                                      ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...  ...
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...  ...
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...  ...
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...  ...
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...  ...

id1                                                                                                     L1_2  \
timeframe                                               2024-03-01 00:00:00 to 2024-03-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.433053
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.500000
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           1.000000
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           1.000000
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.833333
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           1.000000
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.750000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           1.000000
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.500000

id1                                                                                                           \
timeframe                                               2024-04-01 00:00:00 to 2024-04-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.857143
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.748024
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.845697
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.886039
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.496047
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.830969
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           0.811018
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.781782
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           1.000000
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.622036

id1                                                                                                           \
timeframe                                               2024-05-01 00:00:00 to 2024-05-31 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.845697
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.863917
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.833333
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.630726
     2020-05-01 00:00:00 to 2020-05-31 23:59:59.9999...                                           0.863917
...                                                                                                    ...
L1_2 2024-08-01 00:00:00 to 2024-08-31 23:59:59.9999...                                           0.817426
     2024-09-01 00:00:00 to 2024-09-30 23:59:59.9999...                                           1.000000
     2024-10-01 00:00:00 to 2024-10-31 23:59:59.9999...                                           0.764298
     2024-11-01 00:00:00 to 2024-11-30 23:59:59.9999...                                           0.634852
     2024-12-01 00:00:00 to 2024-12-31 23:59:59.9999...                                           0.591752

id1                                                                                                           \
timeframe                                               2024-06-01 00:00:00 to 2024-06-30 23:59:59.999999999
id1  timeframe
L1_0 2020-01-01 00:00:00 to 2020-01-31 23:59:59.9999...                                           0.768545
     2020-02-01 00:00:00 to 2020-02-29 23:59:59.9999...                                           0.727834
     2020-03-01 00:00:00 to 2020-03-31 23:59:59.9999...                                           0.916667
     2020-04-01 00:00:00 to 2020-04-30 23:59:59.9999...                                           0.876909