In [1]:
#!{sys.executable} -m pip install pyarrow fastparquet

In [2]:
from STDC import STDC
import pandas as pd

In [3]:
df = pd.read_parquet('data/df_checkpoint.parquet')

In [4]:
df.head()

,tweet_created_at,original_post_id,author_id,author_name,author_username,retweeter_id
0,2018-12-31 22:46:18,1079886497279561728,622354597,Salvo Di Grazia,MedBunker,951848540
1,2018-12-31 22:46:18,1079886497279561728,622354597,Salvo Di Grazia,MedBunker,135554444
2,2018-12-31 22:46:18,1079886497279561728,622354597,Salvo Di Grazia,MedBunker,433418060
3,2018-12-31 22:46:18,1079886497279561728,622354597,Salvo Di Grazia,MedBunker,1668533642
4,2018-12-31 22:46:18,1079886497279561728,622354597,Salvo Di Grazia,MedBunker,1623208790

In [5]:
df = df[(df['tweet_created_at'] >= '2018-01-01') & (df['tweet_created_at'] < '2018-07-01')]

In [6]:
stdc = STDC(df, timeframe = '%Y-%m',field_names=['author_id', 'retweeter_id', 'tweet_created_at'])

In [7]:
stdc.calculate_graphs()

{'2018-01': <Graph object, undirected, with 103 vertices and 4324 edges, 1 internal edge property, at 0x315439fd0>,
 '2018-02': <Graph object, undirected, with 103 vertices and 4257 edges, 1 internal edge property, at 0x31544df90>,
 '2018-03': <Graph object, undirected, with 103 vertices and 4322 edges, 1 internal edge property, at 0x31544e210>,
 '2018-04': <Graph object, undirected, with 103 vertices and 4155 edges, 1 internal edge property, at 0x31545c770>,
 '2018-05': <Graph object, undirected, with 103 vertices and 4349 edges, 1 internal edge property, at 0x31545ce90>,
 '2018-06': <Graph object, undirected, with 103 vertices and 4542 edges, 1 internal edge property, at 0x31544ab10>}

In [8]:
stdc.calculate_communities()

{'2018-01': <VertexPropertyMap object with value type 'int64_t', for Graph 0x315439fd0, at 0x432ba0c90>,
 '2018-02': <VertexPropertyMap object with value type 'int64_t', for Graph 0x31544df90, at 0x31547a2e0>,
 '2018-03': <VertexPropertyMap object with value type 'int64_t', for Graph 0x31544e210, at 0x315478fa0>,
 '2018-04': <VertexPropertyMap object with value type 'int64_t', for Graph 0x31545c770, at 0x31547a660>,
 '2018-05': <VertexPropertyMap object with value type 'int64_t', for Graph 0x31545ce90, at 0x315478910>,
 '2018-06': <VertexPropertyMap object with value type 'int64_t', for Graph 0x31544ab10, at 0x31547a270>}

In [9]:
stdc.calculate_modularity()

  timeframe    modularity
0   2018-01  6.689901e-16
1   2018-02  1.226443e-14
2   2018-03 -2.610088e-15
3   2018-04 -4.512614e-15
4   2018-05  3.782064e-15
5   2018-06 -2.322407e-15

In [10]:
stdc.calculate_aligned_modularity()

        t1       t2    modularity
0  2018-01  2018-02  6.466708e-15
1  2018-02  2018-03  4.827169e-15
2  2018-03  2018-04 -3.561351e-15
3  2018-04  2018-05 -3.652748e-16
4  2018-05  2018-06  7.298288e-16

In [11]:
stdc.calculate_aligned_reduced_positions()

author_id                           5893702             6439122             \
author_id          t1      t2
5893702            2018-01 2018-02            0.000000            0.960466
                   2018-02 2018-03            0.000000            0.972028
                   2018-03 2018-04            0.000000            0.960395
                   2018-04 2018-05            0.000000            0.962067
                   2018-05 2018-06            0.000000            0.982225
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.983925            0.999418
                   2018-02 2018-03            0.979550            0.999346
                   2018-03 2018-04            0.978458            0.999765
                   2018-04 2018-05            0.979735            0.999459
                   2018-05 2018-06            0.978742            0.998403

author_id                           9095292             10228272            \
author_id          t1      t2
5893702            2018-01 2018-02            0.965952            0.997610
                   2018-02 2018-03            0.980143            0.998597
                   2018-03 2018-04            0.981292            0.998910
                   2018-04 2018-05            0.958143            0.999346
                   2018-05 2018-06            0.963187            0.999257
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.971681            0.999996
                   2018-02 2018-03            0.983236            0.999990
                   2018-03 2018-04            0.996841            0.999888
                   2018-04 2018-05            0.984409            0.999894
                   2018-05 2018-06            0.976688            0.999874

author_id                           13294452            13514762            \
author_id          t1      t2
5893702            2018-01 2018-02            0.924518            0.974961
                   2018-02 2018-03            0.916208            0.973967
                   2018-03 2018-04            0.928906            0.979109
                   2018-04 2018-05            0.936863            0.962460
                   2018-05 2018-06            0.935060            0.928597
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.997504            0.997019
                   2018-02 2018-03            0.995648            0.999285
                   2018-03 2018-04            0.994309            0.999123
                   2018-04 2018-05            0.992773            0.999350
                   2018-05 2018-06            0.980280            0.999105

author_id                           14060262            14932455            \
author_id          t1      t2
5893702            2018-01 2018-02            0.682773            0.926692
                   2018-02 2018-03            0.711395            0.963221
                   2018-03 2018-04            0.739700            0.964357
                   2018-04 2018-05            0.703388            0.932426
                   2018-05 2018-06            0.655008            0.937806
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.978134            0.999659
                   2018-02 2018-03            0.971725            0.999036
                   2018-03 2018-04            0.971205            0.998068
                   2018-04 2018-05            0.971877            0.997609
                   2018-05 2018-06            0.959688            0.998351

author_id                           15254807            18935802            \
author_id          t1      t2
5893702            2018-01 2018-02            0.849143            0.495289
                   2018-02 2018-03            0.869734            0.532311
                   2018-03 2018-04            0.879485            0.565906
                   2018-04 2018-05            0.889252            0.550631
                   2018-05 2018-06            0.885948            0.570537
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.952200            0.954368
                   2018-02 2018-03            0.956077            0.941896
                   2018-03 2018-04            0.971327            0.949033
                   2018-04 2018-05            0.969721            0.943332
                   2018-05 2018-06            0.944883            0.914729

author_id                           ...  3295067231          \
author_id          t1      t2       ...
5893702            2018-01 2018-02  ...            0.976761
                   2018-02 2018-03  ...            0.995579
                   2018-03 2018-04  ...            0.996829
                   2018-04 2018-05  ...            0.993791
                   2018-05 2018-06  ...            0.993604
...                                 ...                 ...
936284727794860033 2018-01 2018-02  ...            0.981515
                   2018-02 2018-03  ...            0.986831
                   2018-03 2018-04  ...            0.993122
                   2018-04 2018-05  ...            0.992978
                   2018-05 2018-06  ...            0.979805

author_id                           3315201969          705044293824745472  \
author_id          t1      t2
5893702            2018-01 2018-02            0.974848            0.976726
                   2018-02 2018-03            0.978073            0.974867
                   2018-03 2018-04            0.981780            0.978429
                   2018-04 2018-05            0.957568            0.982159
                   2018-05 2018-06            0.935624            0.989534
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.992372            0.998754
                   2018-02 2018-03            0.993376            0.999576
                   2018-03 2018-04            0.993176            0.997604
                   2018-04 2018-05            0.993375            0.997432
                   2018-05 2018-06            0.992815            0.998811

author_id                           718429249301057537  732817452569141248  \
author_id          t1      t2
5893702            2018-01 2018-02            0.985245            0.943614
                   2018-02 2018-03            0.984594            0.940709
                   2018-03 2018-04            0.986053            0.952059
                   2018-04 2018-05            0.976287            0.944138
                   2018-05 2018-06            0.978507            0.936772
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.997483            0.990211
                   2018-02 2018-03            0.985979            0.983246
                   2018-03 2018-04            0.987062            0.983196
                   2018-04 2018-05            0.993853            0.975616
                   2018-05 2018-06            0.990097            0.956912

author_id                           748799089567862784  791281036265156608  \
author_id          t1      t2
5893702            2018-01 2018-02            0.971423            0.972459
                   2018-02 2018-03            0.977296            0.960239
                   2018-03 2018-04            0.983635            0.960597
                   2018-04 2018-05            0.979474            0.946949
                   2018-05 2018-06            0.959676            0.888122
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.997918            0.998512
                   2018-02 2018-03            0.999050            0.997451
                   2018-03 2018-04            0.999216            0.987406
                   2018-04 2018-05            0.998956            0.986012
                   2018-05 2018-06            0.998788            0.993614

author_id                           836510408777338880  920277002858500096  \
author_id          t1      t2
5893702            2018-01 2018-02            0.993950            0.984512
                   2018-02 2018-03            0.974162            0.981918
                   2018-03 2018-04            0.975453            0.978347
                   2018-04 2018-05            0.990863            0.966468
                   2018-05 2018-06            0.992107            0.965924
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.996000            0.998710
                   2018-02 2018-03            0.964056            0.998745
                   2018-03 2018-04            0.954748            0.998514
                   2018-04 2018-05            0.988135            0.998536
                   2018-05 2018-06            0.989851            0.998946

author_id                           936284727794860033
author_id          t1      t2
5893702            2018-01 2018-02            0.983925
                   2018-02 2018-03            0.979550
                   2018-03 2018-04            0.978458
                   2018-04 2018-05            0.979735
                   2018-05 2018-06            0.978742
...                                                ...
936284727794860033 2018-01 2018-02            0.000000
                   2018-02 2018-03            0.000000
                   2018-03 2018-04            0.000000
                   2018-04 2018-05            0.000000
                   2018-05 2018-06            0.000000

[515 rows x 103 columns]