In [2]:
from STDC import STDC
import sys
import pandas as pd
import graph_tool.all as gt
import numpy as np

In [ ]:
#!{sys.executable} -m pip install pyarrow fastparquet

In [15]:
df = pd.read_parquet('data/df_checkpoint.parquet')

In [16]:
df.head()

,tweet_created_at,original_post_id,author_id,author_name,author_username,retweeter_id
0,2018-12-31 22:46:18,1079886497279561728,622354597,Salvo Di Grazia,MedBunker,951848540
1,2018-12-31 22:46:18,1079886497279561728,622354597,Salvo Di Grazia,MedBunker,135554444
2,2018-12-31 22:46:18,1079886497279561728,622354597,Salvo Di Grazia,MedBunker,433418060
3,2018-12-31 22:46:18,1079886497279561728,622354597,Salvo Di Grazia,MedBunker,1668533642
4,2018-12-31 22:46:18,1079886497279561728,622354597,Salvo Di Grazia,MedBunker,1623208790

In [17]:
df = df[(df['tweet_created_at'] >= '2018-01-01') & (df['tweet_created_at'] < '2018-07-01')]

In [18]:
stdc = STDC(df, timeframe = '%Y-%m',field_names=['author_id', 'retweeter_id', 'tweet_created_at'])

In [ ]:
stdc.calculate_graphs()

{'2018-01': <Graph object, undirected, with 103 vertices and 4324 edges, 1 internal edge property, at 0x62ef29c70>,
 '2018-02': <Graph object, undirected, with 103 vertices and 4257 edges, 1 internal edge property, at 0x6f10fd630>,
 '2018-03': <Graph object, undirected, with 103 vertices and 4322 edges, 1 internal edge property, at 0x6f10fda90>,
 '2018-04': <Graph object, undirected, with 103 vertices and 4155 edges, 1 internal edge property, at 0x6f10fde50>,
 '2018-05': <Graph object, undirected, with 103 vertices and 4349 edges, 1 internal edge property, at 0x6f10fe210>,
 '2018-06': <Graph object, undirected, with 103 vertices and 4542 edges, 1 internal edge property, at 0x6f10fe5d0>}

In [ ]:
stdc.calculate_communities()

{'2018-01': <VertexPropertyMap object with value type 'int64_t', for Graph 0x62ef29c70, at 0x4ae000440>,
 '2018-02': <VertexPropertyMap object with value type 'int64_t', for Graph 0x6f10fd630, at 0x4ae0009f0>,
 '2018-03': <VertexPropertyMap object with value type 'int64_t', for Graph 0x6f10fda90, at 0x4ae000600>,
 '2018-04': <VertexPropertyMap object with value type 'int64_t', for Graph 0x6f10fde50, at 0x4ae000a60>,
 '2018-05': <VertexPropertyMap object with value type 'int64_t', for Graph 0x6f10fe210, at 0x4ae000360>,
 '2018-06': <VertexPropertyMap object with value type 'int64_t', for Graph 0x6f10fe5d0, at 0x4ae0007c0>}

In [ ]:
stdc.calculate_modularity()

  timeframe  modularity
0   2018-01    0.154273
1   2018-02    0.229570
2   2018-03    0.136383
3   2018-04    0.178383
4   2018-05    0.068403
5   2018-06    0.198931

In [ ]:
stdc.calculate_aligned_modularity()

        t1       t2  modularity
0  2018-01  2018-02    0.191922
1  2018-02  2018-03    0.182977
2  2018-03  2018-04    0.157383
3  2018-04  2018-05    0.123393
4  2018-05  2018-06    0.133667

In [ ]:
stdc.calculate_aligned_reduced_positions()

author_id                           5893702             6439122             \
author_id          t1      t2
5893702            2018-01 2018-02            0.000000            0.960466
                   2018-02 2018-03            0.000000            0.972028
                   2018-03 2018-04            0.000000            0.960395
                   2018-04 2018-05            0.000000            0.962067
                   2018-05 2018-06            0.000000            0.982225
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.983925            0.999418
                   2018-02 2018-03            0.979550            0.999346
                   2018-03 2018-04            0.978458            0.999765
                   2018-04 2018-05            0.979735            0.999459
                   2018-05 2018-06            0.978742            0.998403

author_id                           9095292             10228272            \
author_id          t1      t2
5893702            2018-01 2018-02            0.965952            0.997610
                   2018-02 2018-03            0.980143            0.998597
                   2018-03 2018-04            0.981292            0.998910
                   2018-04 2018-05            0.958143            0.999346
                   2018-05 2018-06            0.963187            0.999257
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.971681            0.999996
                   2018-02 2018-03            0.983236            0.999990
                   2018-03 2018-04            0.996841            0.999888
                   2018-04 2018-05            0.984409            0.999894
                   2018-05 2018-06            0.976688            0.999874

author_id                           13294452            13514762            \
author_id          t1      t2
5893702            2018-01 2018-02            0.924518            0.974961
                   2018-02 2018-03            0.916208            0.973967
                   2018-03 2018-04            0.928906            0.979109
                   2018-04 2018-05            0.936863            0.962460
                   2018-05 2018-06            0.935060            0.928597
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.997504            0.997019
                   2018-02 2018-03            0.995648            0.999285
                   2018-03 2018-04            0.994309            0.999123
                   2018-04 2018-05            0.992773            0.999350
                   2018-05 2018-06            0.980280            0.999105

author_id                           14060262            14932455            \
author_id          t1      t2
5893702            2018-01 2018-02            0.682773            0.926692
                   2018-02 2018-03            0.711395            0.963221
                   2018-03 2018-04            0.739700            0.964357
                   2018-04 2018-05            0.703388            0.932426
                   2018-05 2018-06            0.655008            0.937806
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.978134            0.999659
                   2018-02 2018-03            0.971725            0.999036
                   2018-03 2018-04            0.971205            0.998068
                   2018-04 2018-05            0.971877            0.997609
                   2018-05 2018-06            0.959688            0.998351

author_id                           15254807            18935802            \
author_id          t1      t2
5893702            2018-01 2018-02            0.849143            0.495289
                   2018-02 2018-03            0.869734            0.532311
                   2018-03 2018-04            0.879485            0.565906
                   2018-04 2018-05            0.889252            0.550631
                   2018-05 2018-06            0.885948            0.570537
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.952200            0.954368
                   2018-02 2018-03            0.956077            0.941896
                   2018-03 2018-04            0.971327            0.949033
                   2018-04 2018-05            0.969721            0.943332
                   2018-05 2018-06            0.944883            0.914729

author_id                           ...  3295067231          \
author_id          t1      t2       ...
5893702            2018-01 2018-02  ...            0.976761
                   2018-02 2018-03  ...            0.995579
                   2018-03 2018-04  ...            0.996829
                   2018-04 2018-05  ...            0.993791
                   2018-05 2018-06  ...            0.993604
...                                 ...                 ...
936284727794860033 2018-01 2018-02  ...            0.981515
                   2018-02 2018-03  ...            0.986831
                   2018-03 2018-04  ...            0.993122
                   2018-04 2018-05  ...            0.992978
                   2018-05 2018-06  ...            0.979805

author_id                           3315201969          705044293824745472  \
author_id          t1      t2
5893702            2018-01 2018-02            0.974848            0.976726
                   2018-02 2018-03            0.978073            0.974867
                   2018-03 2018-04            0.981780            0.978429
                   2018-04 2018-05            0.957568            0.982159
                   2018-05 2018-06            0.935624            0.989534
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.992372            0.998754
                   2018-02 2018-03            0.993376            0.999576
                   2018-03 2018-04            0.993176            0.997604
                   2018-04 2018-05            0.993375            0.997432
                   2018-05 2018-06            0.992815            0.998811

author_id                           718429249301057537  732817452569141248  \
author_id          t1      t2
5893702            2018-01 2018-02            0.985245            0.943614
                   2018-02 2018-03            0.984594            0.940709
                   2018-03 2018-04            0.986053            0.952059
                   2018-04 2018-05            0.976287            0.944138
                   2018-05 2018-06            0.978507            0.936772
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.997483            0.990211
                   2018-02 2018-03            0.985979            0.983246
                   2018-03 2018-04            0.987062            0.983196
                   2018-04 2018-05            0.993853            0.975616
                   2018-05 2018-06            0.990097            0.956912

author_id                           748799089567862784  791281036265156608  \
author_id          t1      t2
5893702            2018-01 2018-02            0.971423            0.972459
                   2018-02 2018-03            0.977296            0.960239
                   2018-03 2018-04            0.983635            0.960597
                   2018-04 2018-05            0.979474            0.946949
                   2018-05 2018-06            0.959676            0.888122
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.997918            0.998512
                   2018-02 2018-03            0.999050            0.997451
                   2018-03 2018-04            0.999216            0.987406
                   2018-04 2018-05            0.998956            0.986012
                   2018-05 2018-06            0.998788            0.993614

author_id                           836510408777338880  920277002858500096  \
author_id          t1      t2
5893702            2018-01 2018-02            0.993950            0.984512
                   2018-02 2018-03            0.974162            0.981918
                   2018-03 2018-04            0.975453            0.978347
                   2018-04 2018-05            0.990863            0.966468
                   2018-05 2018-06            0.992107            0.965924
...                                                ...                 ...
936284727794860033 2018-01 2018-02            0.996000            0.998710
                   2018-02 2018-03            0.964056            0.998745
                   2018-03 2018-04            0.954748            0.998514
                   2018-04 2018-05            0.988135            0.998536
                   2018-05 2018-06            0.989851            0.998946

author_id                           936284727794860033
author_id          t1      t2
5893702            2018-01 2018-02            0.983925
                   2018-02 2018-03            0.979550
                   2018-03 2018-04            0.978458
                   2018-04 2018-05            0.979735
                   2018-05 2018-06            0.978742
...                                                ...
936284727794860033 2018-01 2018-02            0.000000
                   2018-02 2018-03            0.000000
                   2018-03 2018-04            0.000000
                   2018-04 2018-05            0.000000
                   2018-05 2018-06            0.000000

[515 rows x 103 columns]

---

In [3]:
# # Get the adjacency matrix as a numpy array
# adj = gt.adjacency(stdc.graphs['2018-01'], weight = stdc.graphs['2018-01'].ep.weight).toarray()
# print(adj)

In [4]:
# print(stdc.graphs['2018-01'])
# print(stdc.graphs['2018-01'].vertex_properties['pos'])

In [5]:
# print(stdc.graphs['2018-02'])
# print(stdc.graphs['2018-02'].vertex_properties['pos'])

In [6]:
# # create all graphs
# for tf in stdc.graphs.keys():
#     g = stdc.graphs[tf]

#     gt.graph_draw(
#         g,
#         pos=g.vertex_properties['pos'],
#         vertex_text=g.vertex_index,
#         vertex_font_size=8,
#         vertex_size=10,
#         edge_pen_width=g.ep.weight
#         )

In [11]:
stdc = STDC(distance_function='l1', reduction_function='umap', dimensions=2, n_layer_1=20, n_layer_2=50, num_rows=10000)

In [12]:
stdc.calculate_biadjacency_matrix()

id2             L2_0  L2_1  L2_10  L2_11  L2_12  L2_13  L2_14  L2_15  L2_16  \
id1  timeframe
L1_0 2020        0.0   3.0    3.0    0.0    1.0    4.0    2.0    0.0    1.0
     2021        4.0   2.0    2.0    2.0    3.0    2.0    0.0    2.0    5.0
     2022        3.0   1.0    3.0    1.0    2.0    4.0    3.0    1.0    1.0
     2023        1.0   0.0    2.0    3.0    2.0    1.0    5.0    1.0    0.0
     2024        1.0   0.0    0.0    1.0    1.0    1.0    1.0    2.0    4.0
...              ...   ...    ...    ...    ...    ...    ...    ...    ...
L1_9 2020        2.0   3.0    1.0    2.0    4.0    2.0    1.0    4.0    1.0
     2021        3.0   3.0    2.0    2.0    1.0    0.0    2.0    1.0    1.0
     2022        0.0   3.0    3.0    1.0    3.0    3.0    4.0    3.0    1.0
     2023        4.0   1.0    1.0    2.0    1.0    0.0    1.0    0.0    0.0
     2024        1.0   2.0    2.0    4.0    2.0    1.0    2.0    0.0    1.0

id2             L2_17  ...  L2_45  L2_46  L2_47  L2_48  L2_49  L2_5  L2_6  \
id1  timeframe         ...
L1_0 2020         2.0  ...    0.0    2.0    2.0    2.0    3.0   2.0   1.0
     2021         3.0  ...    3.0    3.0    1.0    3.0    0.0   1.0   1.0
     2022         0.0  ...    2.0    4.0    6.0    2.0    4.0   3.0   6.0
     2023         1.0  ...    1.0    0.0    3.0    1.0    5.0   0.0   0.0
     2024         2.0  ...    1.0    2.0    7.0    1.0    2.0   1.0   4.0
...               ...  ...    ...    ...    ...    ...    ...   ...   ...
L1_9 2020         0.0  ...    2.0    3.0    6.0    1.0    1.0   2.0   1.0
     2021         0.0  ...    1.0    3.0    5.0    2.0    3.0   2.0   2.0
     2022         1.0  ...    4.0    4.0    4.0    3.0    2.0   1.0   3.0
     2023         2.0  ...    2.0    1.0    7.0    0.0    2.0   2.0   1.0
     2024         1.0  ...    2.0    1.0    0.0    3.0    0.0   1.0   2.0

id2             L2_7  L2_8  L2_9
id1  timeframe
L1_0 2020        1.0   2.0   2.0
     2021        2.0   3.0   2.0
     2022        1.0   1.0   2.0
     2023        2.0   0.0   4.0
     2024        2.0   3.0   4.0
...              ...   ...   ...
L1_9 2020        5.0   1.0   1.0
     2021        1.0   1.0   0.0
     2022        1.0   2.0   2.0
     2023        1.0   2.0   0.0
     2024        1.0   1.0   2.0

[100 rows x 50 columns]

In [13]:
stdc.calculate_positions()

,id1,L1_0,L1_1,L1_10,L1_11,L1_12,L1_13,L1_14,L1_15,L1_16,L1_17,L1_18,L1_19,L1_2,L1_3,L1_4,L1_5,L1_6,L1_7,L1_8,L1_9
id1,timeframe,,,,,,,,,,,,,,,,,,,,
L1_0,2020,0.0,76.0,74.0,70.0,79.0,84.0,95.0,58.0,76.0,73.0,61.0,80.0,77.0,77.0,60.0,86.0,71.0,74.0,76.0,84.0
L1_1,2020,76.0,0.0,80.0,74.0,83.0,84.0,83.0,70.0,64.0,75.0,79.0,70.0,67.0,73.0,88.0,78.0,81.0,82.0,78.0,82.0
L1_10,2020,74.0,80.0,0.0,78.0,75.0,72.0,87.0,64.0,68.0,77.0,73.0,84.0,87.0,69.0,84.0,76.0,59.0,90.0,72.0,92.0
L1_11,2020,70.0,74.0,78.0,0.0,77.0,86.0,83.0,60.0,78.0,73.0,65.0,92.0,71.0,69.0,80.0,86.0,87.0,82.0,80.0,82.0
L1_12,2020,79.0,83.0,75.0,77.0,0.0,89.0,96.0,81.0,89.0,80.0,88.0,93.0,88.0,66.0,81.0,75.0,92.0,99.0,83.0,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
L1_5,2024,79.0,70.0,79.0,64.0,71.0,87.0,84.0,82.0,73.0,87.0,77.0,81.0,78.0,82.0,83.0,0.0,90.0,77.0,74.0,81.0
L1_6,2024,73.0,82.0,91.0,90.0,79.0,87.0,64.0,88.0,89.0,87.0,91.0,87.0,72.0,82.0,75.0,90.0,0.0,85.0,92.0,71.0
L1_7,2024,92.0,59.0,72.0,79.0,60.0,86.0,85.0,77.0,68.0,76.0,88.0,74.0,83.0,75.0,70.0,77.0,85.0,0.0,69.0,86.0
L1_8,2024,79.0,64.0,71.0,66.0,79.0,79.0,76.0,84.0,71.0,85.0,101.0,73.0,86.0,76.0,81.0,74.0,92.0,69.0,0.0,77.0
L1_9,2024,66.0,75.0,74.0,77.0,82.0,86.0,71.0,83.0,88.0,80.0,92.0,70.0,67.0,71.0,76.0,81.0,71.0,86.0,77.0,0.0

In [14]:
stdc.calculate_reduced_positions()

                         0         1
id1   timeframe
L1_0  2020       16.193489  5.157179
L1_1  2020       13.465002  6.015181
L1_10 2020       15.158192  6.733441
L1_11 2020       14.673752  6.374513
L1_12 2020       13.725761  5.951176
...                    ...       ...
L1_5  2024       13.235265  6.697107
L1_6  2024       13.877599  8.498197
L1_7  2024       12.598373  5.645306
L1_8  2024       12.626336  6.416945
L1_9  2024       14.870125  8.371829

[100 rows x 2 columns]